@()

@column1()(value: Html) = {
	<div class="col-md-1 col-lg-1">
		@value
	</div>
}

@column3()(value: Html) = {
	<div class="col-md-3 col-lg-3">
		@value
	</div>
}

@column4()(value: Html) = {
	<div class="col-md-4 col-lg-4">
		@value
	</div>
}

@column6()(value: Html) = {
	<div class="col-md-6 col-lg-6">
		@value
	</div>
}

@columnLabelValue(label:String)(value: Html) = {
	<div class="form-group">
	    <label class="col-md-2 col-lg-2 control-label">@label</label>
	    <div class="col-md-10 col-lg-10">
	      @value
	    </div>
	</div>
}

<div class="row">
	<div class="col-md-12 col-lg-12 ">
	<div class="page-header" ng-init="init()">
		<div class="btn-toolbar pull-right">
			 <button class="btn btn-default" ng-click="save()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
		</div>
		<h1>
			@Messages("add.title.name")
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<form class="form-horizontal">
			<div class="row">
				@column6(){
					@columnLabelValue(Messages("projects.code")){
						<div>
							<input type="text" class="form-control" ng-model="form.code">
						</div>
					}
									
					@columnLabelValue(Messages("projects.name")){
						<div>
							<input type="text" class="form-control" ng-model="form.name">
						</div>
					}
				}
			</div>
			
			<div class="row">
				@column6(){	
					@columnLabelValue(Messages("projects.projectCodes")){
						<select size="30" name="allProjects" ng-model="form.allProjects" multiple="true" ng-options="p.code as (p.code + ':' + p.name) for p in lists.getProjects()">
						</select>
					}
				}
				
				@column1(){
					<input type="button" ng-click="addItem()" value=">>" />&nbsp; 
					<input type="button" ng-click="removeItem()" value="<<" />&nbsp;
				}
				
				@column3(){				
					<select size="30" name="selectedProjects" ng-model="projectUmbrella.projectCodes" multiple="true" ng-options="code for code in form.selectedProjects">
					</select>
				}
			</div>
		</form>
	</div>
</div>

       
