@()
<div class="row">
 <div class="col-md-12 col-lg-12">
	 <table class="table table-condensed table-hover table-bordered">
		<thead>
		<tr>
			<th></th>
			<th>@Messages("readsets.treatments.contaminationPhiX.readsInput")</th>
			<th>@Messages("readsets.treatments.contaminationPhiX.removedReads")</th>
			<th>@Messages("readsets.treatments.contaminationPhiX.remainingReads")</th>
			<th>@Messages("readsets.treatments.contaminationPhiX.removedReadsPercent")</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>@Messages("readsets.treatments.contaminationPhiX.read1_2")</th>
			<td>{{readset.treatments[treatments.getTreatment().code].pairs.readsInput.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].pairs.removedReads.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].pairs.remainingReads.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].pairs.removedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
		</tr>						
		<tr>
			<th>@Messages("readsets.treatments.contaminationPhiX.single")</th>
			<td>{{readset.treatments[treatments.getTreatment().code].single.readsInput.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].single.removedReads.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].single.remainingReads.value | number}}</td>
			<td>{{readset.treatments[treatments.getTreatment().code].single.removedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
		</tr>						
		</tbody>
	 </table>
 </div>	 
</div>