@()

 <div class="span8" ng-controller="DuplicatesCtrl" ng-init="init(treatments.getTreatment().code)">

	 <table class="table table-condensed table-hover table-bordered">

		<thead>
		<tr>
			<th class="span2">
				&nbsp;
			</th>
			<th class="span2">
				<!--p style="color:darkblue"-->
					@Messages("readsets.read1")
				<!-- /p -->
			</th>
			<th class="span2">
				@Messages("readsets.read2")
			</th>
			<th class="span2">
				@Messages("readsets.paired")
			</th>
		</tr>						
		</thead>
		
		<tbody>
		
		<!--  estimateOfDuplicatedReads  -->
		<tr>
			<th class="span2">
				@Messages("readsets.duplicates.estimateOfDuplicatedReads")
			</th>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].read1.estimateDuplicatedReads.value | number}} &nbsp;
					({{readset.treatments[treatments.getTreatment().code].read1.estimateDuplicatedReadsPercent.value | number:2}} %)
				<ul class="unstyled">									 
				    <li ng-repeat="obj in objsInDuplicates.read1.estimateDuplicatedReadsNTimes.value">
          				{{obj.percent  | number:2}} % @(Messages("readsets.duplicates.observed")) 
          				{{obj.times + 1}} @Messages("readsets.duplicates.times")
       				</li>
				</ul>
			</td>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].read2.estimateDuplicatedReads.value | number}} &nbsp;
					({{readset.treatments[treatments.getTreatment().code].read2.estimateDuplicatedReadsPercent.value | number:2}} %)
				<ul class="unstyled">									 
				    <li ng-repeat="obj in objsInDuplicates.read2.estimateDuplicatedReadsNTimes.value">
          				{{obj.percent | number:2}} % @(Messages("readsets.duplicates.observed")) 
          				{{obj.times + 1}} @Messages("readsets.duplicates.times") 
       				</li>
				</ul>
			</td>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].pairs.estimateDuplicatedReads.value | number}} &nbsp;				
					({{readset.treatments[treatments.getTreatment().code].pairs.estimateDuplicatedReadsPercent.value | number:2}} %)
				<ul class="unstyled">									 
				    <li ng-repeat="obj in objsInDuplicates.pairs.estimateDuplicatedReadsNTimes.value">
          				{{obj.percent | number:2}} % @(Messages("readsets.duplicates.observed")) 
          				{{obj.times + 1}} @Messages("readsets.duplicates.times")
       				</li>
				</ul>
			</td>
		</tr>

		<!--  estimateOfUniqueReads  -->
		<tr>
			<th class="span2">
				@Messages("readsets.duplicates.estimateOfUniqueReads")
			</th>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].read1.estimateUniqueReads.value | number}} &nbsp;
					({{readset.treatments[treatments.getTreatment().code].read1.estimateUniqueReadsPercent.value | number:2}} %)
			</td>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].read2.estimateUniqueReads.value | number}} &nbsp;
					({{readset.treatments[treatments.getTreatment().code].read2.estimateUniqueReadsPercent.value | number:2}} %)
			</td>
			<td class="span2">
					{{readset.treatments[treatments.getTreatment().code].pairs.estimateUniqueReads.value | number}} &nbsp;
					({{readset.treatments[treatments.getTreatment().code].pairs.estimateUniqueReadsPercent.value | number:2}} %)
			</td>
		</tr>
		
		</tbody>
				
	</table>

  </div>	
