@()

<div ng-controller="MappingCtrl">
	<div ng-show="isDataExistsForRead1()">
		<div class="page-header" >
			@Messages("readsets.treatments.mapping.tabs.read1")
		</div>
		<div id="read1">@partials.mapping("read1")</div>
	</div>
	
	<div ng-show="isDataExistsForRead2()">
		<div class="page-header">
			@Messages("readsets.treatments.mapping.tabs.read2")
		</div>
		<div id="read2">@partials.mapping("read2")</div>
	</div>

	<div class="page-header">
		@Messages("readsets.treatments.mapping.tabs.pairs")
	</div>
	
	<div id="pairs">
		@partials.mapping_pairs()
	</div>
	
	<div class="page-header page-break">
		@Messages("readsets.treatments.mapping.tabs.ref")
	</div>	
	
	<div id="ref">
		@partials.mapping_ref()
	</div>
</div>