@()

<div class="row-fluid">
	<div class="span10">
	 <table class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th><strong>@Messages("readsets.mapping.sampleInput")</strong></th>
				<th><strong>@Messages("readsets.mapping.nonChimericAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.FRAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.RFAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.FFAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.RRAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.transAlignedReads")</strong></th>
				<th><strong>@Messages("readsets.mapping.singleAlignedReads")</strong></th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>@Messages("readsets.mapping.number")</th>
				<td>{{readset.treatments.mapping.pairs.sampleInput.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.nonChimericAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.FRAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.RFAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.FFAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.RRAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.transAlignedReads.value | number}}</td>
				<td>{{readset.treatments.mapping.pairs.singleAlignedReads.value | number}}</td>
			</tr>
			<tr>
				<th>@Messages("readsets.mapping.totalReadsPercent")</th>
				<td>100 %</td>
				<td>{{readset.treatments.mapping.pairs.nonChimericAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.FRAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.RFAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.FFAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.RRAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.transAlignedReadsPercent.value | number:2}} %</td>
				<td>{{readset.treatments.mapping.pairs.singleAlignedReadsPercent.value | number:2}} %</td>
			</tr>					
		</tbody>
	</table>
	</div>	
</div>
<div class="row-fluid"><!--  graphics here -->
 <img src="data:image/png;base64,{{readset.treatments.mapping.pairs.PEReadDistanceSeparation.value}}" height="450" width="600" />&nbsp;
 <img src="data:image/png;base64,{{readset.treatments.mapping.pairs.MPReadDistanceSeparation.value}}" height="450" width="600" />
</div>
