@()
<div class="row">
<div class="col-md-12 col-lg-12">
<ul class="nav nav-tabs">
	<li class="active"><a href="#" data-target="#data" data-toggle="tab">@Messages("readsets.treatments.mapping.tabs.data")</a></li>
	<li><a href="#" data-target="#ref" data-toggle="tab">@Messages("readsets.treatments.mapping.tabs.ref")</a></li>    	
</ul>

<div class="tab-content">

 <div class="tab-pane active" id="data">

	<div class="row"> 
		<div class="col-md-12 col-lg-12">
		 <table class="table table-condensed table-hover table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>@Messages("readsets.treatments.mapping.sampleInput")</th>
					<th>@Messages("readsets.treatments.mapping.nonChimericAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.FRAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.RFAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.FFAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.RRAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.transAlignedReads")</th>
					<th>@Messages("readsets.treatments.mapping.singleAlignedReads")</th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>@Messages("readsets.treatments.mapping.number")</th>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.sampleInput.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.nonChimericAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.FRAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.RFAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.FFAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.RRAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.transAlignedReads.value | number}}</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.singleAlignedReads.value | number}}</td>
				</tr>
				<tr>
					<th>@Messages("readsets.treatments.mapping.totalReadsPercent")</th>
					<td>@Messages("readsets.treatments.mapping.100percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.nonChimericAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.FRAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.RFAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.FFAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.RRAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.transAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
					<td>{{readset.treatments[treatments.getTreatment().code].pairs.singleAlignedReadsPercent.value | number:2}} @Messages("unit.percent")</td>
				</tr>					
			</tbody>
		</table>
		</div>	
	</div>
	
	<div class="row">
	    <div class="col-md-4 col-lg-4">
		    <div class="thumbnail" data-target="#myModal" role="button" data-toggle="modal" 
			ng-click="setImage(readset.treatments[treatments.getTreatment().code].pairs.PEReadDistanceSeparation.value,'PEReadDistanceSeparation','','mapping',
			readset.treatments[treatments.getTreatment().code].pairs.PEReadDistanceSeparation.width,
			readset.treatments[treatments.getTreatment().code].pairs.PEReadDistanceSeparation.height)">
			 <a href="#">
			    <img id="pairs.PEReadDistanceSeparation" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].pairs.PEReadDistanceSeparation.value}}" />
			 </a> 
		    </div>
	    </div>
	    <div class="col-md-4 col-lg-4">
		    <div class="thumbnail" data-target="#myModal" role="button" data-toggle="modal" 
			ng-click="setImage(readset.treatments[treatments.getTreatment().code].pairs.MPReadDistanceSeparation.value,'MPReadDistanceSeparation','','mapping',
			readset.treatments[treatments.getTreatment().code].pairs.MPReadDistanceSeparation.width,
			readset.treatments[treatments.getTreatment().code].pairs.MPReadDistanceSeparation.height)">
			 <a href="#">
			    <img id="pairs.MPReadDistanceSeparation" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].pairs.MPReadDistanceSeparation.value}}" />
			 </a>   
		    </div>
	    </div>
	</div>
	
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<div class="panel panel-default text-center" ng-if="readset.treatments[treatments.getTreatment().code].pairs.estimatedPEInsertSize != null">
				<div class="panel-heading">
					<strong>@Messages("readsets.treatments.mapping.estimatedPEInsertSize") : </strong>
				</div>
				<div class="panel-body">
					{{readset.treatments[treatments.getTreatment().code].pairs.estimatedPEInsertSize.value | number:2}}
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="panel panel-default text-center" ng-if="readset.treatments[treatments.getTreatment().code].pairs.estimatedMPInsertSize.value != null">
				<div class="panel-heading">
					<strong>@Messages("readsets.treatments.mapping.estimatedMPInsertSize") : </strong>
				</div>
				<div class="panel-body">
					{{readset.treatments[treatments.getTreatment().code].pairs.estimatedMPInsertSize.value | number:2}}
				</div>
			</div>
		</div>
	</div>
	
 </div>
 
 <div class="tab-pane" id="ref">
	<div class="row"> 
		<div class="col-md-10 col-lg-10">
			<pre>{{readset.treatments[treatments.getTreatment().code].default.reference.value}}</pre>
		</div>
	</div>
 </div> 
 
</div> 
</div>
</div>