@()

<div ng-controller="MappingCtrl">
	<div ng-show="isDataExistsForRead1()">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					@Messages("readsets.treatments.mapping.tabs.read1")
				</div>
			</div>
		</div>
		@partials.mapping("read1")
	</div>
	<div ng-show="isDataExistsForRead2()">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					@Messages("readsets.treatments.mapping.tabs.read2")
				</div>
			</div>
		</div>
		@partials.mapping("read2")
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				@Messages("readsets.treatments.mapping.tabs.pairs")
			</div>
		</div>
	</div>
	
	@partials.mapping_pairs()
	
	<div class="row page-break">
		<div class="col-xs-12">	
			<div class="page-header">
				@Messages("readsets.treatments.mapping.tabs.ref")
			</div>	
		</div>
	</div>
	
	@partials.mapping_ref()
</div>