@()

<div class="row">
	<div class="col-md-12 col-lg-12">
	   <ul class="nav nav-tabs margin-bottom-5">
	   	<li class="active"><a href="#" data-target="#main" data-toggle="tab">@Messages("readsets.treatments.sortingRibo.tabs.bilan")</a></li>
	   	<li><a href="#" data-target="#taxon" data-toggle="tab">@Messages("readsets.treatments.sortingRibo.tabs.taxon")</a></li>    
	   	<li><a href="#" data-target="#krona" data-toggle="tab">@Messages("readsets.treatments.sortingRibo.tabs.krona")</a></li>    
	   
	   </ul>
			
		<div class="tab-content">
		
			<div class="tab-pane active" id="main">
				@partials.sortingRibo_main()			
			</div>
		
			<div class="tab-pane" id="taxon">
				@partials.sortingRibo_taxon()
			</div>
				
			<div class="tab-pane" id="krona">
				@partials.sortingRibo_krona()
			</div>
				
			
		</div>
				
	</div>
</div>