@()
<div class="row hidden-print">
	<div class="col-md-12 col-lg-12">
	   <ul class="nav nav-tabs margin-bottom-5">
	   	<li class="active"><a href="#" data-target="#main" data-toggle="tab">@Messages("readsets.treatments.taxonomy.tabs.bilan")</a></li>
	   	<li><a href="#" data-target="#krona" data-toggle="tab">@Messages("readsets.treatments.taxonomy.tabs.krona")</a></li>    
	   	<li ng-show="isDataExistsForPhylogeneticTree(treament.code!=undefined?treament.code:treatments.getTreatment().code)"><a href="#" data-target="#phylogeneticTree" data-toggle="tab">@Messages("readsets.treatments.taxonomy.tabs.phylogeneticTree")</a></li>	    	
	   </ul>
			
		<div class="tab-content">
		
			<div class="tab-pane active" id="main">
				@partials.taxonomy_main()			
			</div>
		
			<div class="tab-pane" id="krona">
				@partials.taxonomy_krona()
			</div>
				
			<div class="tab-pane" id="phylogeneticTree"  ng-show="isDataExistsForPhylogeneticTree(treament.code!=undefined?treament.code:treatments.getTreatment().code)">
	 			@partials.taxonomy_phylogenetic()
			</div>
			
		</div>
				
	</div>
</div>



<div class="visible-print">
			
	<div class="page-header">
		@Messages("readsets.treatments.taxonomy.tabs.bilan")
	</div>
	
	<div id="main">@partials.taxonomy_main_print()</div>
	
	<!--  no krona -->
	
	<div id="phylogeneticTree" class="page-break" ng-show="isDataExistsForPhylogeneticTree(treament.code!=undefined?treament.code:treatments.getTreatment().code)">
 		@partials.taxonomy_phylogenetic()
	</div>

</div>