@()

<div ng-controller="TaxonomyCtrl" ng-init="init(treatments.getTreatment().code)">

	<div class="row-fluid">
		<div class="span3">
			<table class="table table-condensed table-hover table-bordered">
			<thead>
			<tr>
				<th class="span1">
					@Messages("readsets.sampleInput")
				</th>
				<th class="span1">
					@Messages("readsets.taxonomy.organism")
				</th>
				<th class="span1">
					@Messages("readsets.taxonomy.taxonomy")
				</th>	
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					{{readset.treatments[treatments.getTreatment().code].read1.sampleInput.value | number}}
				</td>
				<td>
					{{readset.treatments[treatments.getTreatment().code].read1.organism.value}}
				</td>
				<td>
					{{readset.treatments[treatments.getTreatment().code].read1.taxonomy.value}}
				</td>		
			</tr>
			</tbody>
			</table> 
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">	
			<table class="table table-condensed table-hover table-bordered">
				<thead>
				<tr>
					<th colspan="3">
						@Messages("readsets.taxonomy.divisionBilan")
					</th>
					<th colspan="3">
						@Messages("readsets.taxonomy.keywordBilan")
					</th>
					<th colspan="3">
						@Messages("readsets.taxonomy.taxonBilan")
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInDivisionBilan">
						 {{obj.division}} :
						</li>
						</ul>
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInDivisionBilan">
						 {{obj.nbSeq | number}}
						</li>
						</ul>					
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInDivisionBilan">
						 {{ obj.percent | number:2}} @(" %")
						</li>
						</ul>					
					</td>
										
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInKeywordBilan">
						 {{obj.keyword}} :
						</li>
						</ul>
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInKeywordBilan">
						 {{obj.nbSeq | number}}
						</li>
						</ul>					
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInKeywordBilan">
						 {{ obj.percent | number:2}} @(" %")
						</li>
						</ul>					
					</td>

					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInTaxonBilan">
						<!--  TODO : a stocker dans la bd -->
						 <a ng-href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef&name={{obj.taxon.replace(' ','+')}}&lvl=0&srchmode=1"> 
						 	{{obj.taxon}} : 
						 </a>
						</li>
						</ul>
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInTaxonBilan">
						 {{obj.nbSeq | number}}
						</li>
						</ul>					
					</td>
					<td>
						<ul class="unstyled">
						<li ng-repeat="obj in objsInTaxonBilan">
						 {{ obj.percent | number:2}} @(" %")
						</li>
						</ul>					
					</td>

				</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
	<div class="row-fluid">
	 <div class="span4">
		<img src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.phylogeneticTree.value}}" />&nbsp;
	 </div>			
	</div>

	
	
	
	
	
	<!-- ------------------------------------tests affichage Krona !!! -->
<!-- 	
	<HR>
	<br><br>
	
	<b>Affichage de la chaine HTML du Krona: OK</b>
	<br>
	{{kronaHTMLString}}
	<br>
	
	<b>Affichage d'une IFRAME avec du HTML dedans sans script : OK</b>
	<br>
	<iframe sandbox="allow-scripts"  srcdoc='<i>Simple html</i>' src=''></iframe>
	<br>
	
	<b>Affichage d'une IFRAME avec du HTML dedans et un script : OK</b>
	<br>
	<iframe sandbox="allow-scripts"  srcdoc='<script>alert("alert javascript ds un script de l Iframe !");</script><i>Simple html</i>' src=''></iframe>
	<br>
	
	
	<b>Affichage d'une IFRAME avec la chaine HTML du Krona : KO</b> 
	<br>
	
	<iframe sandbox="allow-scripts" srcdoc='{{kronaHTMLString}}' src=''></iframe>
	
	<br>
	test +
	<iframe sandbox="allow-scripts"><div ng-bind-html='kronaHTMLString'></div></iframe>	
	
	<br>
	Nouveau test : 
	<iframe ng-src="detailFrame"></iframe>
		
 -->	
	
</div>
