@()
<div class="row">
	<div class="col-md-4 col-lg-4">
		<table class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>@Messages("samples.table.processesUpdatedDate")</th>
				<th>@Messages("samples.table.typeCode")</th>
				<th>@Messages("samples.table.processState")</th>
				<th>@Messages("samples.table.stateResolutions")</th>				
				<th>@Messages("samples.table.currentExperiment")</th>
				<th>@Messages("samples.table.readsets")</th>
			<th>@Messages("samples.table.stateUser")</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="sample.processes !== null" ng-repeat="process in sample.processes|orderBy:'traceInformation.creationDate'">
				<td ng-bind="process.state.date|date:'@Messages("datetime.format")'" />	
				<td ng-bind="process.typeCode|codes:'type'" />
				<td ng-bind="process.state.code|codes:'state'" />
				<td  list-resize="process.state.resolutionCodes|codes:'resolution'" />
				<td ng-bind="process.currentExperimentTypeCode|codes:'type'" />
				<td  ng-if="process.readsets !== null" ng-repeat="readset in process.readsets" ng-bind="readset.code">
				<td  ng-if="process.readsets == null" >
				<td ng-bind="process.state.user" />
			</tr>
			
		</tbody>
		</table>
	</div>
</div>