@()
<div class="row">
	<div class="col-md-4 col-lg-4">
		<table class="table table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th>@Messages("samples.table.process")</th>
				<th>@Messages("samples.table.processCategoryCode")</th>
				<th>@Messages("samples.table.state")</th>
				<th>@Messages("samples.table.currentExperiment")</th>
				<th>@Messages("samples.table.stateDate")</th>
				<th>@Messages("samples.table.stateUser")</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="sample.processes !== null" ng-repeat="process in sample.processes|orderBy:'traceInformation.date'">
				<td ng-bind="process.code" />
				
				<td ng-bind="process.categoryCode" />
				<td ng-bind="process.state.code|codes:'state'" />
				<td ng-bind="process.currentExperimentTypeCode" />
				<td ng-bind="process.state.date|date:'@Messages("datetime.format")'" />
				<td ng-bind="process.state.user" />
			</tr>
			
		</tbody>
		</table>
	</div>
</div>