/bin/
**/application.conf
**/target
**/.classpath
**/.project
**/.settings
**/bin
**/logs
**/project/project
**/.tern*
/target/
/project/project
/.settings
.classpath
.project
**/.cache*
/logs/
**/app-2.12
**/test-2.12
/ejacoby@appdev.genoscope.cns.fr
ngl.logs*/*
/authentication
/ngl.logs.dir_IS_UNDEFINED/
/playSpringModule
/mongoDBPlugin
