/bin/
**/application.conf
**/target
**/.classpath
**/.project
**/.settings
**/bin
**/logs
**/project/project
**/.tern*
/target/
/project/project
/.settings
.classpath
.project
.dev
.ori
**/.cache*
/logs/
**/app-2.12
**/test-2.12
/ejacoby@appdev.genoscope.cns.fr

authentication/

ngl.logs*/*
/authentication
/ngl.logs.dir_IS_UNDEFINED/
/playSpringModule
/mongoDBPlugin

lib-ngl-common/conf/rules/ngl-sq/get/processes/Copy of illumina-run/processCreation.drl
