.row_selected {
	background-color: #f1f1f1;
}

.control-group-datatable{
	margin-bottom: 0px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f1f1f1;
}


.datatable .btn-toolbar{
	margin-top: 0px;
}
.datatable .pagination{
	margin-top: 0px;
	margin-bottom: 0px;
}

.datatable .well{
	margin-bottom: 10px;
}

