@()
@import views.html.helper._

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th></th>
			<th ng-if="nbCol" ng-repeat="i in nbCol">{{i}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="nbLine" ng-repeat="y in nbLine" class="total">
			<td><strong>{{y}}</strong></td>
			<td class="plates" ng-repeat="x in nbCol" class="browser">
			
				<div class="{{getClass(x, y)}}">
					<div ng-if="data">
					<small>
					
						<div list-resize="data.projectCodes" list-resize-min-size='1' vertical/>
						<div list-resize="data.sampleCodes" list-resize-min-size='1' vertical/>
						<div list-resize='data.fromTransformationTypeCodes|unique|codes:"type"' list-resize-min-size='1' vertical/>
						<div list-resize='data.contents|getArray:"properties.tag.value"|unique' list-resize-min-size='1' vertical/> 

					</small>
					</div>
					<div ng-if="!data"/>
				</div>

			</td>
		</tr>
	</tbody>
</table>
