@()

<div class="btn-toolbar">

	<div class="btn-group">
		<button class="btn btn-default" data-target="#table" data-toggle="tab" data-toggle="tooltip" title="@Messages("containerSupports.button.table")">@Messages("containerSupports.button.table")</button>
		<button class="btn btn-default" data-target="#{{target}}" data-toggle="tab" data-toggle="tooltip" title={{dynamicMessage}} ng-bind="dynamicMessage" />
	</div>
	
	<div class="btn-group">
		<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-toggle="tooltip" title="@Messages("datatable.button.hide")">
			<i class="fa fa-eye-slash" />
		    <span class="caret" />
		</button>
		<ul class="dropdown-menu">
			<li ng-repeat="column in detailsSearchService.datatable.getHideColumns()">
				<a href="#" ng-click="detailsSearchService.datatable.setHideColumn(column)" ng-switch on="detailsSearchService.datatable.isHide(column.id)">
					<i class="fa fa-eye" ng-switch-when="true"/><i class="fa fa-eye-slash" ng-switch-when="false"/>
					<span ng-bind="column.header"/>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="btn-group">
		<button class="btn btn-default" ng-click="detailsSearchService.datatable.exportCSV('all')" title="]@Messages("datatable.button.exportCSV")">
			<i class="fa fa-file-text-o"/>
		</button>
	</div>
	
</div>
