
<link rel="stylesheet" href="@helper.getAsset("css","bootstrap","2.3.2","bootstrap_2.3.2.custom.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("font-awesome/3.0.2/css/font-awesome_3.0.2.min.css")">           
<link rel="stylesheet" href="@routes.Assets.at("ngl-common/css/ngl.css")">
<link rel="stylesheet" href="@routes.Assets.at("ngl-common/css/print.css")">
<link rel="stylesheet" href="@routes.Assets.at("datatable/css/datatable.css")">
       
 <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="@helper.getAsset("javascript","json","2.0","json_2.0.js")" type="text/javascript" charset="utf-8"></script>
<![endif]-->
<script src="@helper.getAsset("javascripts","angular","1.1.4","angular_1.1.4.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular","1.1.4","angular-resource_1.1.4.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","jquery","1.9.1","jquery_1.9.1.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","bootstrap","2.3.2","bootstrap_2.3.2.min.js")" type="text/javascript" charset="utf-8"></script>

    