@(scripts: Html = Html(""))
 <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="@helper.getAsset("javascript","json","2.0","json_2.0.js")" type="text/javascript" charset="utf-8"></script>
<![endif]-->
<script src="@helper.getAsset("javascripts","jquery","1.9.1","jquery_1.9.1.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular","1.2.8","angular_1.2.8.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular","1.2.8","angular-resource_1.2.8.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular","1.2.8","angular-route_1.2.8.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular","1.2.8","angular-sanitize_1.2.8.js")" type="text/javascript" charset="utf-8"></script>

<script src="@helper.getAsset("javascripts","bootstrap","2.3.2","bootstrap_2.3.2.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","angular-strap","0.7.5","angular-strap_0.7.5.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","ui-bootstrap","0.7.0","ui-bootstrap_0.7.0.js")" type="text/javascript" charset="utf-8"></script>
<script src="@helper.getAsset("javascripts","ui-bootstrap","0.7.0","ui-bootstrap-tpls_0.7.0.js")" type="text/javascript" charset="utf-8"></script>

<script src="@helper.getAsset("javascripts","moment","2.4.0","moment_2.4.0.min.js")" type="text/javascript" charset="utf-8"></script>

<script src="/messages.js" type="text/javascript"  charset="utf-8"></script> 
@scripts
    