@(title: String, nav: String = "", scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html >
    <head>
        <meta charset="utf-8">
    	
    	<title>@Messages(title)</title>
        <link rel="stylesheet" media="screen" href="@helper.getAsset("css","bootstrap","2.3.1","bootstrap_2.3.1.min.css")"> 
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome/3.0.2/css/font-awesome_3.0.2.min.css")">           
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("ngl/css/ngl.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("datatable/css/datatable.css")">
        
        <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="@helper.getAsset("javascript","json","2.0","json_2.0.js")" type="text/javascript" charset="utf-8"></script>
		<![endif]-->
		<script src="@helper.getAsset("javascripts","angular","1.0.5","angular_1.0.5.min.js")" type="text/javascript" charset="utf-8"></script>
		<script src="@helper.getAsset("javascripts","jquery","1.9.1","jquery_1.9.1.min.js")" type="text/javascript" charset="utf-8"></script>
		<script src="@helper.getAsset("javascripts","bootstrap","2.3.1","bootstrap_2.3.1.min.js")" type="text/javascript" charset="utf-8"></script>		
        @scripts
    </head>
    <body>
	@menu(nav)
	<div class="container-fluid">
		@content
	</div>
</body>
    
</html>
