@(inputs: Html = Html(""), formAttrs : Html = Html(""))(buttons: Html = Html(""))(datatableName: String = "datatable",  initMethod: String = "init()")


<div class="row" ng-init="@initMethod"> 
<div class="col-md-12 col-lg-12" datatable="@datatableName">

	@if(inputs.body != ""){
	<div dt-form>
	<form class="well well-small form-inline" @formAttrs>
		<div class="btn-toolbar pull-right">
			<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
				<i class="fa fa-search"></i>
			</button>
			<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
				<i class="fa fa-undo"></i>
			</button>
			@buttons				 	
		</div>
		@inputs
	</form>	
	</div>
	}
</div>
</div>
