@()

<div class="row"> 
	<div class="col-md-8 col-lg-8">
		<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal"  
		ng-click="setImage(readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read2.errorPosition.value,'readPosition','Read2',treament.code!=undefined?treament.code:treatments.getTreatment().code,
		readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read2.errorPosition.width,
		readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read2.errorPosition.height)">
		 <a href="#">
		    <img id="read2_errorPosition" ng-src="data:image/png;base64,{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read2.errorPosition.value}}" />
		 </a>   
	    </div>
	</div>
</div>