@()

<div class="row"> 
	<div class="col-md-8 col-lg-8 page-break">
		<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read1.errorPosition.value,'readPosition','Read1',treament.code!=undefined?treament.code:treatments.getTreatment().code,
		readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read1.errorPosition.width,
		readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read1.errorPosition.height)">
		 <a href="#">
		    <img id="read1_errorPosition" ng-src="data:image/png;base64,{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].read1.errorPosition.value}}" />
		 </a>   
	    </div>
	</div>
</div>