@()

<div class="row">
	<div class="col-md-12 col-lg-12">
		<ul class="nav nav-tabs margin-bottom-5">
   			<li ng-if="readset.treatments.taxonomy.pairs!==undefined" ng-class="{'active':(readset.treatments.taxonomy.pairs!==undefined)}"><a href="#" data-target="#pairs" data-toggle="tab">@Messages("readsets.treatments.taxonomy.tabs.pairs")</a></li>
   			<li ng-if="readset.treatments.taxonomy.read1!==undefined" ng-class="{'active':readset.treatments.taxonomy.read1!==undefined && readset.treatments.taxonomy.pairs==undefined}"><a href="#" data-target="#read1" data-toggle="tab">@Messages("readsets.treatments.taxonomy.tabs.read1")</a></li>    	
   		</ul>

		<div class="tab-content">	
			<div class="tab-pane" ng-class="{'active':readset.treatments.taxonomy.pairs!==undefined}" id="pairs">
				@taxonomy_main("pairs")
			</div>	
			<div class="tab-pane" ng-class="{'active':(readset.treatments.taxonomy.read1!==undefined && readset.treatments.taxonomy.pairs==undefined)}" id="read1">	
				@taxonomy_main("read1")
			</div>	
		</div>	
	</div>			
</div>
