@()

@scripts() = {
		 <script src="@routes.Assets.at("ngl/javascripts/controllers/commons.js")" type="text/javascript" charset="utf-8"></script>                            
         <script src="@routes.Assets.at("datatable/javascripts/services/datatable.js")" type="text/javascript" charset="utf-8"></script>          
         <script src="@routes.Assets.at("ngl/javascripts/archives/controllers.js")" type="text/javascript" charset="utf-8"></script>                      
         <script src="@routes.Assets.at("ngl/javascripts/archives/app.js")" type="text/javascript" charset="utf-8"></script> 
         <script src="@controllers.archives.tpl.routes.ReadSets.javascriptRoutes" type="text/javascript" charset="utf-8"></script>     
}

@views.html.search("title.archives", "archives", scripts, controllers.archives.tpl.routes.ReadSets.home())