@(datatableConfig: views.components.datatable.DatatableConfig)

@form() = {
<form class="well form-search">
    <label class="radio inline">
    	<input type="radio" ng-model="archive" value="0" ng-click="search()">@Messages("page.archives.fvalue.archive.0")    	
    </label>
    <label class="radio inline">
    	<input type="radio" ng-model="archive" value="1" ng-click="search()">@Messages("page.archives.fvalue.archive.1")
    </label>
    <label class="radio inline">
   	 <input type="radio" ng-model="archive" value="2" ng-click="search()">@Messages("page.archives.fvalue.archive.2")
    </label>
</form>
}
<div ng-init="init()">
@views.html.components.datatable.datatable(datatableConfig, form)		
</div>