@()
<div class="row">
   <ul class="nav nav-tabs margin-bottom-5">
   	<li class="active"><a href="#" data-target="#read1" data-toggle="tab">@Messages("readsets.treatments.read_quality.tabs.read1")</a></li>
   	<li ><a href="#" data-target="#read2" data-toggle="tab">@Messages("readsets.treatments.read_quality.tabs.read2")</a></li>    	
   </ul>

<div class="tab-content">

	<div class="tab-pane active" id="read1">

			<div class="row">
			    <div class="col-md-12 col-lg-12">
				    <div class="thumbnail" data-target="#myModal" role="button" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.qualScore.value,'qualScore','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.qualScore.width,
					readset.treatments[treatments.getTreatment().code].read1.qualScore.height)">
					 <a href="#">
					    <img id="read1.qualScore" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.qualScore.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.nuclDistribution")</p>
					    
					 </a>   
				    </div>
			    </div>
			</div>
			
			<div class="row">    
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.nuclDistribution.value,'nuclDistribution','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.nuclDistribution.width,
					readset.treatments[treatments.getTreatment().code].read1.nuclDistribution.height)">
					 <a href="#">
					    <img id="read1.nuclDistribution" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.nuclDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.nuclDistribution")</p>
					 </a>
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.readSizeDistribution.value,'readSizeDistribution','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.readSizeDistribution.width,
					readset.treatments[treatments.getTreatment().code].read1.readSizeDistribution.height)">
					 <a href="#">
					    <img id="read1.readSizeDistribution"  ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.readSizeDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.readSizeDistribution")</p>
					 </a>   
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.readWithNpercent.value,'readWithNpercent','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.readWithNpercent.width,
					readset.treatments[treatments.getTreatment().code].read1.readWithNpercent.height)">
					 <a href="#">
					    <img id="read1.readWithNpercent" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.readWithNpercent.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.readWithNpercent")</p>
					 </a>
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.positionN.value,'positionN','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.positionN.width,
					readset.treatments[treatments.getTreatment().code].read1.positionN.height)">
					 <a href="#">
					    <img id="read1.positionN" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.positionN.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.positionN")</p>
				     </a>
				    </div>
			    </div>
			 </div>
			 
			 <div class="row">   			    
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.adapterContamination.value,'adapterContamination','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.adapterContamination.width,
					readset.treatments[treatments.getTreatment().code].read1.adapterContamination.height)">
					 <a href="#">
					    <img id="read1.adapterContamination" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.adapterContamination.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.adapterContamination")</p>
					 </a>   
				    </div>

			    </div>				
				<div class="col-md-3 col-lg-3" ng-if="(treatments.getTreatment().code === 'readQualityRaw') && (readset.treatments[treatments.getTreatment().code].read1.adapters != null) && (readset.treatments[treatments.getTreatment().code].read1.adapters.value.length > 0)">
					<div class="panel panel-default">
						<div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.adapters")</strong></div>
						<div class="panel-body">
							<ul class="treatmentOverflow">
								<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read1.adapters.value">
									{{strValue}}
								</li>
							</ul>
						</div>	
					</div>					
				</div>
			    <div class="col-md-3 col-lg-3" ng-if="((treatments.getTreatment().code == 'readQualityClean') || (treatments.getTreatment().code == 'readQualityNoRiboClean'))  
			    	&& (readset.treatments[treatments.getTreatment().code].read1.maxSizeReads != null)">
					<div class="panel panel-default" >
			    		<div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.maxSizeReads") <span ng-bind="lane.treatments.ngsrg['default'].nbCycleRead1.value"></span> :</strong></div>
			    		<div class="panel-body">
							{{readset.treatments[treatments.getTreatment().code].read1.maxSizeReads.value | number}} 
								({{readset.treatments[treatments.getTreatment().code].read1.maxSizeReadsPercent.value | number:2}} @Messages("unit.percent"))	
						 </div>
					</div>											
				</div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read1.GCDistribution.value,'GCDistribution','Read1','read_quality',
					readset.treatments[treatments.getTreatment().code].read1.GCDistribution.width,
					readset.treatments[treatments.getTreatment().code].read1.GCDistribution.height)">
					 <a href="#">
					    <img id="read1.GCDistribution" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read1.GCDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.GCDistribution")</p>
					 </a>
				    </div>
			    </div>   
			    <div class="col-md-3 col-lg-3" ng-if="(treatments.getTreatment().code === 'readQualityClean' || treatments.getTreatment().code === 'readQualityNoRiboClean') 
			    	&& readset.treatments[treatments.getTreatment().code].read1.suspectedKmers != null 
			    	&& readset.treatments[treatments.getTreatment().code].read1.suspectedKmers.value.length > 0">
			    	<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">@Messages("readsets.treatments.read_quality.suspectedKmers")</div>
					  <div class="panel-body">
    					<ul class="treatmentOverflow">
						<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read1.suspectedKmers.value | orderBy:'nbOccurences':true">
							{{strValue.Kmer}} ({{strValue.nbOccurences | number}})
						</li>	
						</ul>
 					 </div>																
					</div>
    			</div>
    			
    		<!-- </div>
    		<div class="row">
    		 -->
				<div class="col-md-3 col-lg-3">
			    	<div class="panel panel-default" ng-if="(treatments.getTreatment().code === 'readQualityClean' || treatments.getTreatment().code === 'readQualityNoRiboClean') 
			    		&& readset.treatments[treatments.getTreatment().code].read1.suspectedPrimers != null && readset.treatments[treatments.getTreatment().code].read1.suspectedPrimers.value.length > 0"> 
						
					  <!-- Default panel contents -->
					  <div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.suspectedPrimers")</strong></div>
					  <div class="panel-body">
    					<ul class="treatmentOverflow">
						<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read1.suspectedPrimers.value">
							{{strValue}}
						</li>
						</ul>
 					 </div>
					</div>  
				</div>	
			</div>
				
				
				
				

 	</div>	
 	
 
	<div class="tab-pane" id="read2">	
	
			<div class="row">
			    <div class="col-md-12 col-lg-12">
				    <div class="thumbnail" data-target="#myModal" role="button" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.qualScore.value,'qualScore','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.qualScore.width,
					readset.treatments[treatments.getTreatment().code].read2.qualScore.height)">
					 <a href="#">
					    <img id="read2.qualScore" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.qualScore.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.qualScore")</p>
					 </a>   
				    </div>
			    </div>
			</div>
			
			<div class="row">    
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.nuclDistribution.value,'nuclDistribution','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.nuclDistribution.width,
					readset.treatments[treatments.getTreatment().code].read2.nuclDistribution.height)">
					 <a href="#">
					    <img id="read2.nuclDistribution" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.nuclDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.nuclDistribution")</p>
					 </a>
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.readSizeDistribution.value,'readSizeDistribution','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.readSizeDistribution.width,
					readset.treatments[treatments.getTreatment().code].read2.readSizeDistribution.height)">
					 <a href="#">
					    <img id="read2.readSizeDistribution" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.readSizeDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.readSizeDistribution")</p>
					 </a>   
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.readWithNpercent.value,'readWithNpercent','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.readWithNpercent.width,
					readset.treatments[treatments.getTreatment().code].read2.readWithNpercent.height)">
					 <a href="#">
					    <img id="read2.readWithNpercent" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.readWithNpercent.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.readWithNpercent")</p>
					 </a>
				    </div>
			    </div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.positionN.value,'positionN','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.positionN.width,
					readset.treatments[treatments.getTreatment().code].read2.positionN.height)">
					 <a href="#">
					    <img id="read2.positionN" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.positionN.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.positionN")</p>
				     </a>
				    </div>
			    </div>
			 </div>
			 
			 <div class="row">   			    
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.adapterContamination.value,'adapterContamination','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.adapterContamination.width,
					readset.treatments[treatments.getTreatment().code].read2.adapterContamination.height)">
					 <a href="#">
					    <img id="read2.adapterContamination" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.adapterContamination.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.adapterContamination")</p>
					 </a>   
				    </div>
			    </div>
				<div class="col-md-3 col-lg-3" ng-if="(readset.treatments[treatments.getTreatment().code].read2.adapters != null) && (readset.treatments[treatments.getTreatment().code].read2.adapters.value.length > 0)">
					<div class="panel panel-default">
						<div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.adapters")</strong></div>
						<div class="panel-body">
							<ul class="treatmentOverflow">
								<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read2.adapters.value">
									{{strValue}}
								</li>
							</ul>
						</div>	
					</div>
				</div>
			    <div class="col-md-3 col-lg-3" ng-if="((treatments.getTreatment().code == 'readQualityClean') || (treatments.getTreatment().code == 'readQualityNoRiboClean'))  
			    	&& (readset.treatments[treatments.getTreatment().code].read2.maxSizeReads != null) "> 
			    	<div class="panel panel-default">
			    		<div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.maxSizeReads") <span ng-bind="lane.treatments.ngsrg['default'].nbCycleRead2.value"></span> :</strong></div>
			    		<div class="panel-body">
							{{readset.treatments[treatments.getTreatment().code].read2.maxSizeReads.value | number}} 
								({{readset.treatments[treatments.getTreatment().code].read2.maxSizeReadsPercent.value | number:2}} @Messages("unit.percent"))	
						 </div>
					</div>						
				</div>
			    <div class="col-md-3 col-lg-3">
				    <div class="thumbnail" data-target="#myModal" role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" 
					ng-click="setImage(readset.treatments[treatments.getTreatment().code].read2.GCDistribution.value,'GCDistribution','Read2','read_quality',
					readset.treatments[treatments.getTreatment().code].read2.GCDistribution.width,
					readset.treatments[treatments.getTreatment().code].read2.GCDistribution.height)">
					 <a href="#">
					    <img id="read2.GCDistribution" ng-src="data:image/png;base64,{{readset.treatments[treatments.getTreatment().code].read2.GCDistribution.value}}" />
					    <p>@Messages("readsets.treatments.read_quality.GCDistribution")</p>
					 </a>
				    </div>
			    </div>	
			    <div class="col-md-3 col-lg-3" ng-if="(treatments.getTreatment().code === 'readQualityClean' || treatments.getTreatment().code === 'readQualityNoRiboClean') 
			    	&& readset.treatments[treatments.getTreatment().code].read2.suspectedKmers != null 
			    	&& readset.treatments[treatments.getTreatment().code].read2.suspectedKmers.value.length > 0">
			    	<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">@Messages("readsets.treatments.read_quality.suspectedKmers")</div>
					  <div class="panel-body">
    					<ul class="treatmentOverflow">
						<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read2.suspectedKmers.value | orderBy:'nbOccurences':true">
							{{strValue.Kmer}} ({{strValue.nbOccurences | number}})
						</li>
						</ul>
 					 </div>
					</div> 
				</div>			    
			<!-- </div>
			<div class="row">  -->	   
			   <div class="col-md-3 col-lg-3" ng-if="(treatments.getTreatment().code === 'readQualityClean' || treatments.getTreatment().code === 'readQualityNoRiboClean') 
			    		&& readset.treatments[treatments.getTreatment().code].read2.suspectedPrimers != null && readset.treatments[treatments.getTreatment().code].read2.suspectedPrimers.value.length > 0">
			   	<div class="panel panel-default"> 
					  <!-- Default panel contents -->
					  <div class="panel-heading"><strong>@Messages("readsets.treatments.read_quality.suspectedPrimers")</strong></div>
					  <div class="panel-body">
    					<ul class="treatmentOverflow">
						<li ng-repeat="strValue in readset.treatments[treatments.getTreatment().code].read2.suspectedPrimers.value">
							{{strValue}}
						</li>
						</ul>
 					 </div>
				</div>						
			   </div>				
			</div>
				    	
 	</div>	
    
</div>	
</div>