@()



@column()(value: Html) = {
	<div class="col-md-3 col-lg-3">
		@value
	</div>
}

<div class="row">
	<div class="col-md-12 col-lg-12 ">
	<div class="page-header" ng-init="init()">
		<div class="btn-toolbar pull-right">
			 <button class="btn btn-default" ng-click="save()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<form class="form-horizontal">
			<div class="row">
			@column(){
				@views.html.helper.columnLabelValue(Messages("projects.code")){
					<div>
						<input type="text" class="form-control" ng-model="form.code">
					</div>
				}
								
				@views.html.helper.columnLabelValue(Messages("projects.name")){
					<div>
						<input type="text" class="form-control" ng-model="form.name">
					</div>
				}

				@views.html.helper.columnLabelValue(Messages("projects.state.code")){
					<div>
						<div bt-select class="form-control" ng-model="form.state.code" bt-options="state.code as state.name for state in lists.getStates()"></div>
					</div>	
				}
									
				@views.html.helper.columnLabelValue(Messages("projects.type")){
					<div>
						<div bt-select class="form-control" ng-model="form.projectType" bt-options="projectType.code as projectType.name for projectType in lists.getProjectTypes()"></div>
					</div>
				}
				
				@views.html.helper.columnLabelValue(Messages("projects.category.type")){
					<div>
						<div bt-select class="form-control" ng-model="form.projectCategory" bt-options="projectCategory.code as projectCategory.name for projectCategory in lists.getProjectCategories()"></div>
					</div>
				}
				
				@views.html.helper.columnLabelValue(Messages("projects.comments")){
					<div>
						<textarea class="form-control" ng-model="form.comment"></textarea>
					</div>	
				}
				
			}
			
			</div>
		</form>
	</div>
</div>

       
