@()

@column(size:Int)(value: Html) = {
	<div class="col-md-@size col-lg-@size">
		@value
	</div>
}

@columnLabelValue(label:String)(value: Html) = {
	<div class="form-group">
	    <label class="col-md-2 col-lg-2 control-label">@label</label>
	    <div class="col-md-10 col-lg-10">
	      @value
	    </div>
	</div>
}

<div class="row">
	<div class="col-md-12 col-lg-12 ">
	<div class="page-header" ng-init="init()">
		<div class="btn-toolbar pull-right">
			 <button class="btn btn-default" ng-click="save()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
		</div>
		<h1>
			@Messages("add.title.name")
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<form class="form-horizontal">
			<div class="row">
				@column(6){
					@columnLabelValue(Messages("projects.code")){
						<div>
							<input type="text" class="form-control" ng-model="form.code">
						</div>
					}
									
					@columnLabelValue(Messages("projects.name")){
						<div>
							<input type="text" class="form-control" ng-model="form.name">
						</div>
					}
	
					@columnLabelValue(Messages("projects.state.code")){
						<div>
							<div bt-select class="form-control" ng-model="form.state.code" bt-options="state.code as state.name for state in lists.getStates()"></div>
						</div>	
					}
										
					@columnLabelValue(Messages("projects.type")){
						<div>
							<div bt-select class="form-control" ng-model="form.projectType" bt-options="projectType.code as projectType.name for projectType in lists.getProjectTypes()"></div>
						</div>
					}
					
					@columnLabelValue(Messages("projects.category.type")){
						<div>
							<div bt-select class="form-control" ng-model="form.projectCategory" bt-options="projectCategory.code as projectCategory.name for projectCategory in lists.getProjectCategories()"></div>
						</div>
					}
					
					@columnLabelValue(Messages("projects.bioinformaticanalysis")){
						<div>
		 					<label>
								<input type="checkbox"  ng-model="form.bioinformaticAnalysis">	
							</label>
						</div>						
					}
					
					@columnLabelValue(Messages("projects.comments")){
						<div>
							<textarea class="form-control" ng-model="form.comment"></textarea>
						</div>	
					}
				}
			</div>
			
			<div class="row">
				@column(6){			
					@columnLabelValue(Messages("projects.umbrellaProjectCodes")){
						<select size="30" name="allProjects" ng-model="form.allProjects" multiple="true" ng-options="p.code as (p.code + ':' + p.name) for p in lists.getUmbrellaProjects()">
						</select>						
					}			
				}
				
				@column(1){
					<button type="button" class="btn btn-default btn-block" ng-click="addItem()"><i class="fa fa-forward"></i></button> 
					<button type="button" class="btn btn-default btn-block" ng-click="removeItem()"><i class="fa fa-backward"></i></button>
				}
				
				@column(3){				
					<select size="30" name="selectedProjects" ng-model="project.umbrellaProjectCodes" multiple="true" ng-options="code for code in form.selectedProjects">
					</select>
				}
			</div>
		</form>
	</div>
</div>

       
