@(isForm: Boolean)


@import views.html.helper._
@form() = {	
	@columnSearchForm{
			@formGroup{
				<div class="form-control" bt-select ng-model="searchService.form.projectCodes" multiple="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project.code for project in searchService.lists.getProjects()"></div>				
			}
	}		
	@columnSearchForm{		
			@formGroup{
				<div  class="form-control" bt-select ng-model="searchService.form.typeCodes" multiple="true" placeholder="@Messages("search.placeholder.types")" bt-options="type.code as type.name for type in searchService.lists.getTypes()"></div>			
			}
	}		
	@columnSearchForm{		
			@formGroup{
				<div  class="form-control" bt-select ng-model="searchService.form.stateCodes" multiple="true" placeholder="@Messages("search.placeholder.states")" bt-options="state.code as state.name for state in searchService.states()" ></div>							
			}
	}	
	@columnSearchForm{	
	
	}
	@columnSearchForm{	
	
	}	
}


@if(isForm) {
	@searchForm(form)()()
}

@if(!isForm) {
	@searchForm()()()
}
