@()

<div class="row">
	<div class="col-md-3 col-lg-3">
		<div class="alert alert-info" ng-if="chartsReadSetsService.lists.get('statsConfigs').length > 0">
			<strong>@Messages("info.query.config")</strong>
			<div class="form-control" 
				 bt-select 
				 ng-model="chartsReadSetsService.reportingConfigurationCode" 
				 ng-change="chartsReadSetsService.init()" 
				 placeholder="@Messages("search.placeholder.reporting.configuration")" 
				 bt-options="valid.code as valid.name for valid in chartsReadSetsService.lists.get('statsConfigs')">
			</div>
		</div>
	</div>	
</div>

<div ng-switch on="queriesConfigService.queries.length > 0 ">
	
		<div ng-switch-when="true">
			<div class="row">
				<div class="col-md-12 col-lg-12" datatable="chartsReadSetsService.datatable()"></div>
			</div>
			<div class="row" ng-repeat="chart in chartsReadSetsService.charts()">
				<div class="col-md-12 col-lg-12">
					<chart value="chart"></chart>
				</div>
			</div>
		</div>
		<div ng-switch-when="false">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="alert alert-danger">
					<strong>@Messages("error.query.empty")</strong>
				</div>
			</div>
		</div>
		</div>
</div>


