@()

<div class="row">
<div class="col-md-12 col-lg-12">
<div ng-switch on="chartsLanesService.queries().length > 0 ">	
		<div ng-switch-when="true">
			<ul class="nav nav-tabs margin-bottom-5">
			<li class="active"><a href="#" data-target="#chart" data-toggle="tab">@Messages("stats.tabs.charts")</a></li>
			<li><a href="#" data-target="#query" data-toggle="tab">@Messages("stats.tabs.query")</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="chart">
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="chartsLanesService.datatable()"></div>
					</div>
				<div class="row" ng-repeat="chart in chartsLanesService.charts()">
					<div class="col-md-12 col-lg-12">
						<chart value="chart"></chart>
					</div>
				</div>
				</div>
				<div class="tab-pane" id="query">
				<div class="row" ng-repeat="query in chartsLanesService.queries()">
					<div class="col-md-4 col-lg-4">
						<ul class="list-unstyled">
					  		<li ng-repeat="(key, value) in query.form">{{key}} : {{value}}</li>	
					  	</ul>						
					</div>
				</div>
				
				
				</div>
			</div>
		</div>
		<div ng-switch-when="false">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="alert alert-danger">
					<strong>@Messages("error.query.empty")</strong>
				</div>
			</div>
		</div>
		</div>
</div>
</div>
</div>

