@() 
@import views.html.helper._

@form() = {
	@columnSearchForm{
		@formGroup{
			<!-- <input type="text" class="form-control" ng-model="searchService.form.name" placeholder='@Messages("kits.name")'> -->
			<div class="form-control" bt-select ng-model="searchService.form.name" multiple="true" filter="true" placeholder='@Messages("kits.name")' bt-options="kit.name as kit.name for kit in searchService.lists.getKitCatalogs()" ng-focus="searchService.refreshSamples()"></div>	
		}
	}
	@columnSearchForm{	
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.providerRefName" placeholder='@Messages("kits.providerRefName")'>
		}
	}	
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.providerCode" placeholder='@Messages("kits.provider")'>
		}
	}	
		
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.catalogRefCode" placeholder='@Messages("kits.catalogRefCode")'>
		}
	}	
}

@searchForm(form)()("searchService.datatable")