@()
@import views.html.helper._

@form() = {

	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="form.studyTitle" placeholder='@Messages("create.placeholder.studyTitle")'>
			
		}
		@formGroup{
			@**
			<input type="text" class="form-control" placeholder='@Messages("create.placeholder.projectCode")'>
			**@
			<div class="form-control" bt-select  ng-model="form.projectCodes" multiple="true" filter="true" placeholder='@Messages("create.placeholder.projectCode")' bt-options="project.code as project.code for project in lists.getProjects()"></div>			
		
		}
		@formGroup{
			<div class="form-control" bt-select multiple="true" placeholder='@Messages("create.placeholder.studyTypes")'></div>			
		}								
						
	}
	@columnSearchForm{
		@formGroup{
			<textarea rows="3" placeholder='@Messages("create.placeholder.abstract")'></textarea>
			
		}
		@formGroup{
			<textarea rows="3" placeholder='@Messages("create.placeholder.description")'></textarea>
		}
		
		
	}	
}


<div class="row"> 
	<div class="col-md-12 col-lg-12">
		<div dt-form>	
			<div class="tab-content">
				<div class="tab-pane active" id="filters">
					<form class="well well-small">
						<div class="row">
						@form
						@columnSearchForm{
							@formGroup{
							<div class="btn-toolbar">
								<button type="submit" title='@Messages("button.save")' ng-click="save()" data-toggle="tooltip" class="btn btn-primary" >
									<i class="fa fa-search"></i>
								</button>
								<button title='@Messages("button.reset")' data-toggle="tooltip"  class="btn btn-default">
									<i class="fa fa-undo"></i>
								</button>
															 	
							</div>	
							}	
							
						}
						</div>		
					</form>	
				</div>
			</div>
		</div>
	</div>
</div> 

