@()
<div ng-init="init()">
	<div datatable="datatable">
	<div dt-form>
	<form class="well form-search form-vertical">
		<select ng-model="form.processCategory" ng-options="processCategory.name for processCategory in lists.getProcessCategories()" ng-change="changeProcessCategory()">
			<option value="">@Messages("experiments.select.processCategory")</option>
		</select>
	
		<select ng-model="form.type" ng-options="typeCode.name for typeCode in lists.getProcessTypes()" ng-change="changeTypeCode()">
			<option value="">@Messages("processes.select.processType")</option>
		</select>
		
		<input type="text" ng-model="form.projectCodes" bs-typeahead="searchProjects" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.projects")'>
		<input type="text" ng-model="form.sampleCodes" bs-typeahead="searchSamples" ng-click="refreshSamples()" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.samples")'>
		
		
			
		<div class="btn-toolbar pull-right">
			<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" ><i class="icon-search icon-large"></i></button>
			<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn"><i class="icon-undo icon-large"></i></button>				 	
		</div>
	</form>	
	</div>
	</div>
</div>