@()

@import views.html.helper._
@form() = {
		
	@columnSearchForm{
		@formGroup{
			<div bt-select placeholder="@Messages("processes.select.processCategory")" class="form-control" ng-model="form.processCategory" bt-options="processCategory.code as processCategory.name for processCategory in lists.getProcessCategories()" ng-change="changeProcessCategory()" auto-select>
			</div>
		}
		@formGroup{			
				<input class="form-control" type="date" ng-model="form.fromDate" placeholder='@Messages("processes.placeholder.fromDate")'>
		}	
	
	}
	@columnSearchForm{	
	
		@formGroup{
			<div bt-select placeholder="@Messages("processes.select.processType")" ng-disabled="form.processCategory == undefined" class="form-control" ng-model="form.processType" bt-options="typeCode.code as typeCode.name for typeCode in lists.getProcessTypes()" ng-change="changeProcessTypeCode()" auto-select>
			</div>
		}
		@formGroup{	
				<input class="form-control" type="date" ng-model="form.toDate" placeholder='@Messages("processes.placeholder.toDate")'>
		}
	}
	
	
	@columnSearchForm{
		@formGroup{
		<div bt-select placeholder="@Messages("processes.select.state")" class="form-control" ng-model="form.state" bt-options="stateCode.code as stateCode.name for stateCode in lists.getStates()" ng-change="search()" auto-select>
		</div>
		}	
		@formGroup{
			<div class="form-control" bt-select ng-model="form.projectCodes" multiple="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project.code for project in lists.getProjects()"></div>
		}	
	}
	@columnSearchForm{
			@formGroup{		
			<input class="form-control" type="text" ng-model="form.user" typeahead="user.name as user.name for user in lists.getUsers() | filter:$viewValue | limitTo:20" placeholder='@Messages("search.placeholder.user")'>
			}
				@formGroup{	
			<div class="form-control" bt-select ng-model="form.sampleCodes" multiple="true" filter="true" placeholder='@Messages("search.placeholder.samples")' bt-options="sample.code as sample.code for sample in lists.getSamples()" ng-focus="refreshSamples()"></div>			
			
			}
	}
	@columnSearchForm{
			@formGroup{
			<div bt-select placeholder="@Messages("containers.select.categorySupportCode")" class="form-control" ng-model="form.containerSupportCategory" bt-options="CategorySupport.code as CategorySupport.name for CategorySupport in lists.getContainerSupportCategories()" ng-change="search()" auto-select>
			</div>
			}
			@formGroup{	
			<input class="form-control" type="text" ng-model="form.processesSupportCode"  typeahead="support.code as support.name for support in lists.getSupports() | filter:$viewValue | limitTo:20" placeholder='@Messages("search.placeholder.support")' >
			}
	}
}

@searchForm(form)()()