@(datatableConfig: views.components.datatable.DatatableConfig)
@import scala.collection.immutable._
@form() = {
	<form class="well form-search form-vertical">
		<select ng-model="form.processCategory" ng-options="processCategory.name for processCategory in lists.getProcessCategories()" ng-change="changeProcessCategory()">
			<option value="">@Messages("experiments.select.processCategory")</option>
		</select>
	
		<select ng-model="form.type" ng-options="processType.name for processType in  lists.getProcessTypes()" ng-change="changeProcessType()">
			<option value="">@Messages("processes.select.processType")</option>
		</select>		
		
		
		<input type="text" ng-model="form.projectCodes" bs-typeahead="searchProjects" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.projects")'>
		<input type="text" ng-model="form.sampleCodes" bs-typeahead="searchSamples" ng-click="refreshSamples()" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.samples")'>
		
		
		<!--<select ng-model="form.project" ng-options="project.code+' - '+project.name for project in lists.getProjects()" ng-change="changeProject()">
			<option value="">@Messages("processes.select.project")</option>
		</select>
		
		<select ng-model="form.sample" ng-options="sample.code for sample in lists.getSamples()" ng-change="search()">
			<option value="">@Messages("processes.select.sample")-</option>
		</select>-->
		
		<div class="btn-toolbar pull-right">
					<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" ><i class="icon-search icon-large"></i></button>
					<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn"><i class="icon-undo icon-large"></i></button>				 	
		</div>
	</form>
}

@button() = {
	<button class="btn" ng-disabled="!datatable.isSelect()" ng-click="addToBasket(datatable.getSelection(true))" data-toggle="tooltip" title="@Messages("button.addbasket")"><i class="icon-shopping-cart icon-large"></i> @if(!datatableConfig.compact){@(Messages("button.addbasket"))} ({{basket.length()}})</button>
}

<div ng-init="init()">
	@views.html.components.datatable.datatable(datatableConfig, form,button)		
</div>