@(datatableConfig: views.components.datatable.DatatableConfig)

<div ng-init="init()">
<legend>@Messages("plates.legend") : {{plate.code}} / {{plate.typeName}}</legend>  


<div class="btn-toolbar">
<div class="btn-group">
<button class="btn"  data-target="#tab1" data-toggle="tab" data-toggle="tooltip" title="@Messages("plates.button.table")">@Messages("plates.button.table")</button>
<button class="btn"  data-target="#tab2" data-toggle="tab" data-toggle="tooltip" title="@Messages("plates.button.plate")">@Messages("plates.button.plate")</button>
</div>
<div class="btn-group" ng-show="isEditMode()">
<button class="btn" ng-click="save()" data-toggle="tooltip" title="@Messages("plates.button.save")"><i class="icon-save icon-large"></i>@if(!datatableConfig.compact){@(Messages("plates.button.save"))}</button>	
<button class="btn" ng-click="computeXY()" data-toggle="tooltip" title="@Messages("plates.button.compute")"><i class="icon-magic icon-large"></i> @if(!datatableConfig.compact){@(Messages("plates.button.compute"))}</button>
</div>
<div class="btn-group" ng-switch on="isEditMode()">
	<button class="btn" ng-click="edit()" ng-switch-when="false" data-toggle="tooltip" title="@Messages("plates.button.edit")"><i class="icon-edit icon-large"></i>@if(!datatableConfig.compact){@(Messages("plates.button.edit"))}</button>
	<button class="btn" ng-click="unedit()" ng-switch-when="true" data-toggle="tooltip" title="@Messages("plates.button.unedit")"><i class="icon-undo icon-large"></i>@if(!datatableConfig.compact){@(Messages("plates.button.unedit"))}</button>	
</div>

</div>

<div ng-class="message.clazz" ng-show="message.text !== undefined">
	<button class="close" data-dismiss="alert" type="button">×</button>
	<strong>{{message.text}}</strong><button class="btn btn-link" ng-click="message.showDetails=!message.showDetails" ng-show="message.isDetails">@(Messages("plates.msg.details"))</button>
	<div ng-show="message.showDetails">
	    <ul>
    		<li ng-repeat="(key1, value1) in message.details">{{key1}}
    		<ul>
    			<li ng-repeat="(key2, value2) in value1"> {{key2}} == {{value2}} </li>
    		</ul>
    		</li>
    	</ul>	
	</div>
</div>

<div class="tab-content">
<div class="tab-pane active" id="tab1">
	@views.html.components.datatable.datatable(datatableConfig)
</div>


<div class="tab-pane" id="tab2">
<table class="table table-bordered table-condensed">
       <thead>
            <tr>
                <th></th>
                <th ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">{{i}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="y in ['A','B','C','D','E','F','G','H']" class="total">
                <td><strong>{{y}}</strong></td>
                <td ng-repeat="x in [1,2,3,4,5,6,7,8,9,10,11,12]" class="browser">
                    {{displayCellPlaque(x, y)}}
                 </td>          
            </tr>
          
        <tbody>
    
        </table>
</div>

</div>
</div>

