@()
@import views.html.helper._
@form() = {
	@columnSearchForm{
		@formGroup{
			<select class="form-control" ng-model="form.etmanips.selected" ng-options="etmanip.name for etmanip in form.etmanips.options" id="etmanip" ng-change="search()">
				<option value="">@Messages("plates.select.etapemanips")</option>
				</select>
		}
	}
	@columnSearchForm{
		@formGroup{		
			<select class="form-control" ng-model="form.projects.selected" id="project" ng-options="project.name for project in form.projects.options" ng-change="search()">
				<option value="">@Messages("plates.select.project")</option>
				</select>
		}
	}
	
	@columnSearchForm{
		@formGroup{		
			<input type="text" class="form-control" ng-model="form.plaqueId" placeholder='@Messages("search.placeholder.regexPlaqueId")' title='@Messages("search.placeholder.regexPlaqueId")'>
		
		}
	}
	
	@columnSearchForm{
		@formGroup{		
			<input type="text" class="form-control" ng-model="form.matmanom" placeholder='@Messages("search.placeholder.matmanom")' title='@Messages("search.placeholder.matmanom")'>
		
		}
	}
}
@searchForm(form)()()