/*custom bootstrap*/

body {
	padding-top:50px;
}

.list-group-item{
	padding: 7px 10px;
}

.panel-heading, .panel-footer{
	padding: 10px 10px;
}


input[type="radio"] {
	margin: 1px 0 0;
}

input[type="checkbox"] {
	margin: 2px 0 0;
}

.input-group-btn .btn.btn-default {
	height:29px; /*compliance with form-control where height:29px*/
}

/*additionnal class*/
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plates > .alert {
	margin-bottom:0px;
}

.margin-bottom-5 {
	margin-bottom:5px;
}

.margin-bottom-5:last-child {
	margin-bottom:0px;
}

.margin-bottom-7 {
	margin-bottom:7px;
}
	
.margin-bottom-7:last-child {
	margin-bottom:0px;
}

.draggable{
	 cursor:move;
}

.drag, .over{
	  background-color: #f1f1f1;
}

/*list-resize directive*/
.small-litte-icone-transparent {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 14px;
	background: transparent
}
