body {
	padding-top:50px;
}

.nav-tabs > li {
	cursor:pointer;	
}

.nav-pills > li > a > .close,
.nav-tabs > li > a > .close{
   margin-left: 5px;
}



dd > button.btn-link{
	padding : 0px;
}


.divTaxonBilan {
	height:340px;
	overflow:auto;
	border-width:1px 1px;
 	border-style:solid;
 	border-color:lightgray;
}

.plates > .alert {
	margin-bottom:0px;
}


	
	
	