body {
	padding-top:50px;
}

.nav-pills > li > a > .close,
.nav-tabs > li > a > .close{
   margin-left: 5px;
}

.bootstrap-select.btn-group,
.bootstrap-select.btn-group[class*="span"] {
   margin-bottom: 0px;
}

dd > button.btn-link{
	padding : 0px;
}

.divTaxonBilan {
	height:350pt;
	overflow:auto;
}
