.visible-print {
  display: none !important;
}

@media print {
	.visible-print {
	  display: inherit !important;
	}
	.hidden-print {
	  display: none !important;
	}
  
	.accordion-group .accordion-body.collapse {
	      height: auto;
	}
	
	@page {
	  size: A4 landscape;
	  margin-left: 0.5cm;
	  margin-right: 0.5cm;
	}
	
	body {
		padding-top:0px;
	}
	
	img {
		float: none !important;
		max-height: 90% !important;
	}
	
	.page-break {page-break-before: always;}  
  	
  	a[href] {
    	color: blue !important;
  	}	

  	
  	#pairs_overlapDistrib {
  		max-height: 70% !important;
  	}
  	
  	#read1_adapterContamination, #read2_adapterContamination {
  		max-height: 50% !important;
  	}
  	
  	#read1_nuclDistribution, #read1_readSizeDistribution, #read1_readWithNpercent, #read1_positionN,
  	#read2_nuclDistribution, #read2_readSizeDistribution, #read2_readWithNpercent, #read2_positionN {
  		max-height: 40% !important;
  	}
  	
  	#pairs_PEReadDistanceSeparation, #pairs_MPReadDistanceSeparation {
  		max-height: 35% !important;
  	}
  	
  	#read1_GCDistribution, #read2_GCDistribution, #pairs_overlapDistrib {
  		max-height: 50% !important;
  	}
  	
  	#read1_errorPosition, #read2_errorPosition {
  		max-height: 35% !important;
  	}
  	
  	.table {
  		font-size: 10px;
  	}
  	
  	.table-small-cell {
  		font-size: 8px;
  	}

  	.vertical-center {
  		vertical-align:middle;
  	} 
  	
  	.no-border {
  		border-top: 0px; 
  	}
  	.no-border th {
  		width:20%;
  		padding: 10px;	
  	}
  	
  	#border_box {
  		box-sizing: border-box;
  	}
  	
  	#panel_PEMPSize {
  		font-size: 10px;
  	}
  	 	
}




    
    

