@()

@import models.laboratory.common.description.ObjectType

@scripts() = {
        <script src="@helper.getAsset("javascript","angular","1.0.3","angular.min.js")" type="text/javascript" charset="utf-8"></script>   
        <script src="@routes.Assets.at("javascripts/ngl/test/controller.js")" type="text/javascript" charset="utf-8"></script>     
}  

@main("Test AngularJS DataTable", "types", scripts){
 <div class="row-fluid">  
  <div class="tabbable tabs-left">
	<ul id="searchTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="pill" data-target="#search" href="#">Search</a></li>       
    </ul>	
  
  
	<div class="tab-content">
	<div class="tab-pane active" id="search" ng-controller="DataTableCtrl">
		<form class="well form-search">
			<select ng-model="type" ng-options="type.label for type in types" ng-change="search()">
				<option value="">-- chose color --</option>
			</select>
			
			<input type="text" class="search-query" placeholder="Name"  ng-model="name" ng-change="search()"/>						
		</form>
				<div class="btn-toolbar">
					<div class="btn-group">
						<a class="btn btn" ng-click="setEditColumn()">Edit</a>
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="setEditColumn('code')">Code</a></li>
							<li><a href="#" ng-click="setEditColumn('name')">Name</a></li>
							<li><a href="#" ng-click="setEditColumn('collectionName')">Collection Name</a></li>							
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">Hide
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="setHideColumn('id')">#</a></li>
							<li><a href="#" ng-click="setHideColumn('code')">Code</a></li>
							<li><a href="#" ng-click="setHideColumn('name')">Name</a></li>
							<li><a href="#" ng-click="setHideColumn('objectType.type')">Type</a></li>
							<li><a href="#" ng-click="setHideColumn('collectionName')">Collection Name</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a class="btn" ng-click="save()">Save</a> 
						<a class="btn" ng-click="cancel()">Cancel</a>  
						<a class="btn" ng-click="select()">Select all</a>
						<a class="btn" ng-click="remove()">Delete</a>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown"
							class="btn btn-info dropdown-toggle">Purification <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">New</a></li>
							<li><a href="#">Add to basket</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown"
							class="btn btn-info dropdown-toggle">QC<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">New</a></li>
							<li><a href="#">Add to basket</a></li>
						</ul>
					</div>
				</div>
				<form class="form-inline">
				<table class="table table-condensed table-hover table-bordered">
				<thead>
				<tr>
				<th ng-hide="isHide('id')"              ng-click="setOrderColumn('id')">#</th>
				<th ng-hide="isHide('code')"            ng-click="setOrderColumn('code')">Code</th>
				<th ng-hide="isHide('name')"            ng-click="setOrderColumn('name')">Name</th>
				<th ng-hide="isHide('objectType.type')" ng-click="setOrderColumn('objectType.type')">Type</th>
				<th ng-hide="isHide('collectionName')"  ng-click="setOrderColumn('collectionName')">Collection Name</th>
				</tr>
				</thead>
				<tbody>
				<!-- first line to edit mode -->
				<tr ng-show="datatableConfig.edit">
				<td ng-hide="isHide('id')"></td>
				<td ng-hide="isHide('code')"><input type="text" class="input-medium" ng-change="updateColumn('code')" ng-model="datatableConfig.updateColumn.code" ng-show="isEdit('code')"/></td>
				<td ng-hide="isHide('name')"><input type="text" class="input-medium" ng-change="updateColumn('name')" ng-model="datatableConfig.updateColumn.name" ng-show="isEdit('name')"/></td>
				<td ng-hide="isHide('objectType.type')"></td>
				<td ng-hide="isHide('collectionName')"><input type="text" class="input-medium" style="margin:0" ng-change="updateColumn('collectionName')" ng-model="datatableConfig.updateColumn.collectionName" ng-show="isEdit('collectionName')"/></td>		
				</tr>
				<tr ng-repeat="type in tableresult | orderBy:datatableConfig.orderBy:datatableConfig.orderReverse" ng-click="select(type)" ng-class="type.trClass">
					<td ng-hide="isHide('id')"><span>{{type.id}}</span></td>
					<td ng-hide="isHide('code')"><span ng-hide="isEdit('code', type)">{{type.code}}</span><input type="text" class="input-medium" ng-model="type.code" ng-show="isEdit('code', type)"/></td>
					<td ng-hide="isHide('name')"><span ng-hide="isEdit('name', type)">{{type.name}}</span><input type="text" class="input-medium" ng-model="type.name" ng-show="isEdit('name', type)"/></td>
					<td ng-hide="isHide('objectType.type')"><span>{{type.objectType.type}}</span></td>
					<td ng-hide="isHide('collectionName')"><span ng-hide="isEdit('collectionName', type)">{{type.collectionName}}</span><input type="text" class="input-medium" style="margin:0" ng-model="type.collectionName" ng-show="isEdit('collectionName', type)"/></td>
				</tr>
				</tbody>
				</table>
				</form>
	</div>
	<div class="tab-pane fade" id="onelement"></div>
	<div class="tab-pane fade" id="newelement"></div>	
  </div>
  </div>
 </div>
	
}