@()

@import models.laboratory.common.description.ObjectType

@scripts() = {
        <script src="@helper.getAsset("javascript","angular","1.0.3","angular.min.js")" type="text/javascript" charset="utf-8"></script>   
        <script src="@helper.getAsset("javascript","angular","1.0.3","angular-resource.min.js")" type="text/javascript" charset="utf-8"></script>           
        <script src="@routes.Assets.at("javascripts/ngl/test/app.js")" type="text/javascript" charset="utf-8"></script>  
        <script src="@routes.Assets.at("javascripts/ngl/test/services.js")" type="text/javascript" charset="utf-8"></script>             
        <script src="@routes.Assets.at("javascripts/ngl/test/controllers.js")" type="text/javascript" charset="utf-8"></script>     
           
}  

@main("Test AngularJS DataTable", "types", scripts){
 <div class="row-fluid">  
  <div class="tabbable tabs-left">
	<ul id="searchTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="pill" data-target="#search" href="#">Search</a></li>       
    </ul>	
  
  
	<div class="tab-content">
	<div class="tab-pane active" id="search" ng-controller="DataTableCtrl" ng-init="init()">
		<form class="well form-search">
			<select ng-model="type" ng-options="type.label for type in types" ng-change="search()">
				<option value="">-- chose color --</option>
			</select>
			
			<input type="text" class="search-query" placeholder="Name"  ng-model="name" ng-change="search()"/>						
		</form>
				<div class="btn-toolbar">
					<div class="btn-group">
						<a class="btn btn" ng-click="datatable.setEditColumn()">Edit</a>
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="datatable.setEditColumn('code')">Code</a></li>
							<li><a href="#" ng-click="datatable.setEditColumn('name')">Name</a></li>
							<li><a href="#" ng-click="datatable.setEditColumn('collectionName')">Collection Name</a></li>							
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">Hide
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="datatable.setHideColumn('id')">#</a></li>
							<li><a href="#" ng-click="datatable.setHideColumn('code')">Code</a></li>
							<li><a href="#" ng-click="datatable.setHideColumn('name')">Name</a></li>
							<li><a href="#" ng-click="datatable.setHideColumn('objectType.type')">Type</a></li>
							<li><a href="#" ng-click="datatable.setHideColumn('collectionName')">Collection Name</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a class="btn" ng-click="datatable.save()">Save</a> 
						<a class="btn" ng-click="datatable.cancel()">Cancel</a>  
						<a class="btn" ng-click="datatable.select()">Select all</a>
						<a class="btn" ng-click="datatable.remove()">Delete</a>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown"
							class="btn btn-info dropdown-toggle">Purification <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">New</a></li>
							<li><a href="#">Add to basket</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" data-toggle="dropdown"
							class="btn btn-info dropdown-toggle">QC<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">New</a></li>
							<li><a href="#">Add to basket</a></li>
						</ul>
					</div>
				</div>
				<form class="form-inline">
				<table class="table table-condensed table-hover table-bordered">
				<thead>
				<tr>
				<th ng-hide="datatable.isHide('id')"              ng-click="datatable.setOrderColumn('id')">#</th>
				<th ng-hide="datatable.isHide('code')"            ng-click="datatable.setOrderColumn('code')">Code</th>
				<th ng-hide="datatable.isHide('name')"            ng-click="datatable.setOrderColumn('name')">Name</th>
				<th ng-hide="datatable.isHide('objectType.type')" ng-click="datatable.setOrderColumn('objectType.type')">Type</th>
				<th ng-hide="datatable.isHide('collectionName')"  ng-click="datatable.setOrderColumn('collectionName')">Collection Name</th>
				</tr>
				</thead>
				<tbody>
				<!-- first line to edit mode -->
				<tr ng-show="datatable.config.edit">
				<td ng-hide="datatable.isHide('id')"></td>
				<td ng-hide="datatable.isHide('code')"><input type="text" class="input-medium" ng-change="datatable.updateColumn('code')" ng-model="datatable.config.updateColumn.code" ng-show="datatable.isEdit('code')"/></td>
				<td ng-hide="datatable.isHide('name')"><input type="text" class="input-medium" ng-change="datatable.updateColumn('name')" ng-model="datatable.config.updateColumn.name" ng-show="datatable.isEdit('name')"/></td>
				<td ng-hide="datatable.isHide('objectType.type')"></td>
				<td ng-hide="datatable.isHide('collectionName')"><input type="text" class="input-medium" style="margin:0" ng-change="datatable.updateColumn('collectionName')" ng-model="datatable.config.updateColumn.collectionName" ng-show="datatable.isEdit('collectionName')"/></td>		
				</tr>
				<tr ng-repeat="type in datatable.searchresult | orderBy:datatable.config.orderBy:datatable.config.orderReverse" ng-click="datatable.select(type)" ng-class="type.trClass">
					<td ng-hide="datatable.isHide('id')"><span>{{type.id}}</span></td>
					<td ng-hide="datatable.isHide('code')"><span ng-hide="datatable.isEdit('code', type)">{{type.code}}</span><input type="text" class="input-medium" ng-model="type.code" ng-show="datatable.isEdit('code', type)"/></td>
					<td ng-hide="datatable.isHide('name')"><span ng-hide="datatable.isEdit('name', type)">{{type.name}}</span><input type="text" class="input-medium" ng-model="type.name" ng-show="datatable.isEdit('name', type)"/></td>
					<td ng-hide="datatable.isHide('objectType.type')"><span>{{type.objectType.type}}</span></td>
					<td ng-hide="datatable.isHide('collectionName')"><span ng-hide="datatable.isEdit('collectionName', type)">{{type.collectionName}}</span><input type="text" class="input-medium" style="margin:0" ng-model="type.collectionName" ng-show="datatable.isEdit('collectionName', type)"/></td>
				</tr>
				</tbody>
				</table>
				</form>
	</div>
	<div class="tab-pane fade" id="onelement"></div>
	<div class="tab-pane fade" id="newelement"></div>	
  </div>
  </div>
 </div>
	
}