<div class="row">
	<div class="col-md-12 col-lg-12">
		<div ng-switch on="balanceSheetsGeneralService.isLoading()">
			<div ng-switch-when="true">
				<div class="alert alert-info">
					<strong>@Messages("balanceSheets.info.loading")</strong>
				</div>
			</div>
			<div ng-switch-when="false">
				<div class="row">
					<div class="col-md-12 col-lg-12" datatable="balanceSheetsGeneralService.dtYearlyBalanceSheets()"></div>
				</div>
				<div class="row">
					<div class="col-ld-12 col-md-12">
						<chart value="balanceSheetsGeneralService.chartYearlyBalanceSheets()"></chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>