@()

<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<ul class="nav nav-tabs margin-bottom-5">
			<li class="active"><a href="#" data-target="#quarter" data-toggle="tab" ng-click="setActiveTab('quarter')">@Messages("balanceSheets.tab.quarters")</a></li>
			<li><a href="#" data-target="#sequencingType" data-toggle="tab" ng-click="setActiveTab('sequencingType')">@Messages("balanceSheets.tab.sequencingType")</a></li>
			<li><a href="#" data-target="#firstTen" data-toggle="tab" ng-click="setActiveTab('firstTen')">@Messages("balanceSheets.tab.firstTen")</a></li>
			<li><a href="#" data-target="#sampleType" data-toggle="tab" ng-click="setActiveTab('sampleType')">@Messages("balanceSheets.tab.projectType")</a></li>    
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="quarter">		
				<div ng-switch on="isLoading()">
					<div ng-switch-when="true">
						<div class="row">
							<div class="col-md-12 col-lg-12 text-center">
							<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
							</div>
						</div>
					</div>
					<div ng-switch-when="false">
						<div class="row">
						<br /><div class="col-md-12 col-lg-12" ultimate-datatable="dtQuarters"></div>
						</div>
					</div>
				</div>
			</div>			
			<div class="tab-pane" id="sequencingType">
			</div>
			<div class="tab-pane" id="firstTen">
			</div>
			<div class="tab-pane" id="sampleType">
				
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12 col-lg-12">
		<div class="col-md-12 col-lg-12">
		<tabset justified="true">
			<tab heading='@Messages("balanceSheets.tab.quarters")' disabled="balanceSheetsService.isLoading()" active="tabs[0]" ng-click='setActiveTab("0")'>
				<div ng-if="balanceSheetsService.isLoading()" class="text-center">
					<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() > 0">
					<div class="row">
						<br /><div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtQuarters()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<chart ng-if="!balanceSheetsService.isLoading()" value="balanceSheetsService.chartQuarters()"></chart>
						</div>
					</div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() == 0">
					<div class="row">
						<div class="col-md-3 col-lg-3">
							<br /><div class="alert alert-danger">@Messages("balanceSheets.danger.noData")</div>
						</div>
					</div>
				</div>
			</tab>
			
			<tab heading='@Messages("balanceSheets.tab.sequencingType")' disabled="balanceSheetsService.isLoading()" active="tabs[1]" ng-click='setActiveTab("1")'>
				<div ng-if="balanceSheetsService.isLoading()" class="text-center">
					<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() > 0">
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtSequencingProduction()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtSumSequencingProduction()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<chart value="balanceSheetsService.chartSequencingProduction()"></chart>
						</div>
					</div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() == 0">
					<div class="row">
						<div class="col-md-3 col-lg-3">
							<br /><div class="alert alert-danger">@Messages("balanceSheets.danger.noData")</div>
						</div>
					</div>
				</div>
			</tab>
			
			<tab heading='@Messages("balanceSheets.tab.firstTen")' disabled="balanceSheetsService.isLoading()" active="tabs[2]" ng-click='setActiveTab("2")'>
				<div ng-if="balanceSheetsService.isLoading()" class="text-center">
					<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() > 0">
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtFirstTen()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtSumFirstTen()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<chart value="balanceSheetsService.chartFirstTen()"></chart>
						</div>
					</div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() == 0">
					<div class="row">
						<div class="col-md-3 col-lg-3">
							<br /><div class="alert alert-danger">@Messages("balanceSheets.danger.noData")</div>
						</div>
					</div>
				</div>
			</tab>
			
			<tab heading='@Messages("balanceSheets.tab.projectType")' disabled="balanceSheetsService.isLoading()" active="tabs[3]" ng-click='setActiveTab("3")'>
				<div ng-if="balanceSheetsService.isLoading()" class="text-center">
					<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() > 0">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<br /><div class="alert alert-info">@Messages("balanceSheets.info.projectType")</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtProjectType()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12" ultimate-datatable="balanceSheetsService.dtSumProjectType()"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<chart value="balanceSheetsService.chartProjectType()"></chart>
						</div>
					</div>
				</div>
				<div ng-if="!balanceSheetsService.isLoading() && balanceSheetsService.getLength() == 0">
					<div class="row">
						<div class="col-md-3 col-lg-3">
							<br /><div class="alert alert-danger">@Messages("balanceSheets.danger.noData")</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
		</div>
	</div>
</div>-->
