@*
*	Create a datatable
*	column: Map("name_of_the_column_to_show" ->"if_of_the_column",...)
*	editable: List("id_of_columns_editable")
*	datatable: the name of the datatable object
*	objectName: the name of the model object
*	data: where the datatable can find the data
*@
@(column:scala.collection.mutable.LinkedHashMap[String,String],editable:List[String],datatable:String,objectName:String,data:String)

<table class="table table-condensed table-hover table-bordered">
	<thead>
	<tr>
		@for((name:String, id:String) <- column){
			<th ng-hide="@(datatable).isHide('@id')"            ng-click="@(datatable).setOrderColumn('@id')">@name</th>
		}
	</tr>
	</thead>
	<tbody>
	<!-- first line to edit mode -->
	<tr ng-show="@(datatable).config.edit">
		@for((name:String, id:String) <- column){
			<td ng-hide="@(datatable).isHide('@id')">@if(editable.contains(id)){<input type="text" class="input-medium" ng-change="@(datatable).updateColumn('@id')" ng-model="@(datatable).config.updateColumn.@id" ng-show="@(datatable).isEdit('@id')"/>}</td>
		}
	</tr>
	<tr ng-repeat="@objectName in @data | orderBy:@(datatable).config.orderBy:@(datatable).config.orderReverse" ng-click="@(datatable).select(@objectName)" ng-class="@(objectName).trClass">
		@for((name:String, id:String) <- column){
			@if(!editable.contains(id)){
				<td ng-hide="@(datatable).isHide('@id')"><span>{{@(objectName).@(id)}}</span></td>
			} else {	
				<td ng-hide="@(datatable).isHide('@id')"><span ng-hide="@(datatable).isEdit('@id', @objectName)">{{@(objectName).@(id)}}</span><input type="text" class="input-medium" ng-model="@(objectName).@(id)" ng-show="@(datatable).isEdit('@id', @objectName)"/></td>
			}
		}
	</tr>
	</tbody>
	</table>