@()
@import play.mvc.Http.Context
@import controllers.authorisation.PermissionHelper

@partials.imageModal()

<div class="row">
	<div cmass="col-md-12 col-lg-12">
		<div class="page-header">
			<div class="btn-toolbar pull-right">
				@***
				<button class="btn btn-default" ng-click="activePrintMode(container.code)" title="@Messages("button.printMode")" data-toggle="tooltip"><i class="fa fa-print"></i> @Messages("button.printMode")</button>
				***@
			</div>
			@partials.details_header()
		</div>
	</div>
</div>



<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<ul class="nav nav-tabs margin-bottom-5">
			<li ng-class="getTabClass('general')"><a href="#" data-target="#general" data-toggle="tab" ng-click="setActiveTab('general')">@Messages("containers.tabs.general")</a></li>
			<li ng-class="getTabClass('treeoflife')"><a href="#" data-target="#treeoflife" data-toggle="tab" ng-click="initGraph()">@Messages("containers.tabs.treeoflife")</a></li>
			<li ng-class="getTabClass('workflow')"><a href="#" data-target="#workflow" data-toggle="tab" ng-click="setActiveTab('workflow')">@Messages("containers.tabs.workflow")</a></li>
			
			<li ng-if="container.qualityControlResults !== null && container.qualityControlResults !== undefined" 
				ng-class="getTabClass('resultsqc')"><a href="#" data-target="#resultsqc" data-toggle="tab" 
					ng-click="setActiveTab('resultsqc')">@Messages("containers.tabs.resultsqc")</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane {{getTabClass('general')}}" id="general">
				@partials.details_general()
			</div>
			<div class="tab-pane {{getTabClass('treeoflife')}}" id="treeoflife">
				@partials.details_treeoflife()
			</div>
			<div class="tab-pane {{getTabClass('workflow')}}" id="workflow">
				@partials.details_workflow()
			</div>
			<div class="tab-pane {{getTabClass('resultsqc')}}" id="results" 
				ng-if="container.qualityControlResults !== null && container.qualityControlResults !== undefined">
				@partials.details_qc()
			</div>
		</div>
	</div>
</div>