@(code : String)

@import models.laboratory.common.description.ObjectType

@scripts() = {
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("ngl-common/javascripts/controllers/tabmainctrl.js")" type="text/javascript" charset="utf-8"></script>
	<script src="@routes.Assets.at("ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script> 
	<script src="@routes.Assets.at("datatable/javascripts/services/datatable2.js")" type="text/javascript" charset="utf-8"></script>     
	<script src="@routes.Assets.at("ngl-common/javascripts/services/basket.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("ngl-sq/javascripts/containers/app.js")" type="text/javascript" charset="utf-8"></script>  	
	<script src="@routes.Assets.at("ngl-sq/javascripts/containers/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>
	
	<script src="@controllers.containers.tpl.routes.Containers.javascriptRoutes" type="text/javascript" charset="utf-8"></script>   
}

@views.html.main("containers.title", menu("containers."+code), scripts)(views.html.contents.lefttabs())