@(datatableConfig: views.components.datatable.DatatableConfig)
@import scala.collection.immutable._
@form() = {
	<form class="well form-search form-vertical">
		<select ng-model="form.containerSupportCategory" ng-options=" CategorySupport.code for CategorySupport in lists.getContainerSupportCategories()" ng-change="search()">
			<option value="">@Messages("containers.select.categorySupportCode")</option>
		</select>
	
		<select ng-model="form.containerCategory" ng-options="CategoryCode.name for CategoryCode in lists.getContainerCategories()" ng-change="search()">
			<option value="">@Messages("containers.select.categoryCode")</option>
		</select>		
		
		<select ng-model="form.project" ng-options="project.code+' - '+project.name for project in lists.getProjects()" ng-change="changeProject()">
			<option value="">@Messages("processes.select.project")</option>
		</select>
		
		<select ng-model="form.sample" ng-options="sample.code for sample in lists.getSamples()" ng-change="search()">
			<option value="">@Messages("processes.select.sample")-</option>
		</select>	
		
		<select ng-model="form.state" ng-options="stateCode.name for stateCode in lists.getStates()" ng-change="search()">
			<option value="">@Messages("containers.select.state")</option>
		</select>
	</form>
}

<div ng-init="init()">
	@views.html.components.datatable.datatable(datatableConfig, form)	
</div>