@(nav: String = "")

@import play.mvc.Http.Context
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="@controllers.main.tpl.routes.Main.home()">@Messages("application.name")@helper.env()</a>
    	</div>
    	<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
    		
    			<li class="dropdown @("active".when(nav.startsWith("studies")))">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="studies">@Messages("studies.menu")<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="studies">
					<!-- sous menu create qui appelle controler tpl study.home -->
						<li class="@("active".when(nav == "studies.create"))"><a href="@controllers.sra.studies.tpl.routes.Studies.home("create")">@Messages("studies.menu.create")</a></li>																				
					</ul>
				</li>
				
   				<li class="dropdown @("active".when(nav.startsWith("configurations")))">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="configurations">@Messages("configurations.menu")<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="configurations">
					<!-- sous menu create qui appelle controler tpl configuration.home -->
						<li class="@("active".when(nav == "configurations.create"))"><a href="@controllers.sra.configurations.tpl.routes.Configurations.home("create")">@Messages("configurations.menu.create")</a></li>																				
						<li class="@("active".when(nav == "configurations.consultation"))"><a href="@controllers.sra.configurations.tpl.routes.Configurations.home("consultation")">@Messages("configurations.menu.consultation")</a></li>																				
					</ul>
				</li>				
				
				<li class="dropdown @("active".when(nav.startsWith("submissions")))">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="submissions">@Messages("submissions.menu")<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="submissions">
					<!-- sous menu create qui appelle controler tpl submission.home -->
						<li class="@("active".when(nav == "submissions.create"))"><a href="@controllers.sra.submissions.tpl.routes.Submissions.home("create")">@Messages("submissions.menu.create")</a></li>																				
						<li class="@("active".when(nav == "submissions.activate"))"><a href="@controllers.sra.submissions.tpl.routes.Submissions.home("activate")">@Messages("submissions.menu.activate")</a></li>																				
						<li class="@("active".when(nav == "submissions.consultation"))"><a href="@controllers.sra.submissions.tpl.routes.Submissions.home("consultation")">@Messages("submissions.menu.consultation")</a></li>																				
					</ul>
				</li>				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="user">
				<i class="fa fa-user"></i> @Context.current().request().username() <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="user">
						<li><a href="/authentication/logout">@Messages("authentification.dropdown_list.signout")</a></li>
				</ul>
				</li>				
			</ul>
		</div>
	</div>		
</nav>
