@(nav: String = "")

@import play.mvc.Http.Context
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="@controllers.main.tpl.routes.Main.home()">@Messages("application.name")</a>
    	</div>
    	<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
    		
    			<li class="dropdown @("active".when(nav.startsWith("studies")))">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="readsets">@Messages("studies.menu")<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="readsets">
					<!-- sous menu create qui appelle controler tpl study.home -->
						<li class="@("active".when(nav == "studies.create"))"><a href="@controllers.studies.tpl.routes.Studies.home("create")">@Messages("studies.menu.create")</a></li>																				
					</ul>
				</li>
				
   				<li class="dropdown @("active".when(nav.startsWith("configurations")))">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="readsets">@Messages("configurations.menu")<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="readsets">
					<!-- sous menu create qui appelle controler tpl configuration.home -->
						<li class="@("active".when(nav == "configurations.create"))"><a href="@controllers.configurations.tpl.routes.Configurations.home("create")">@Messages("configurations.menu.create")</a></li>																				
					</ul>
				</li>				
									
			</ul>
		</div>
	</div>		
</nav>
