.saveAndEditButtons{
	margin-top: 15px;
	margin-bottom: 7.5px;
	margin-left: 7.5px
}
.toolbar{
	margin-bottom: 20px
}

.active-checkbox{
	margin-top:8px;
}

.nav-tabs > li .close {
 	margin: -2px 0 0 10px;
	font-size: 15px;
}