@(nav: String = "")

  <!-- Navbar
    ================================================== -->
		
<div class="navbar navbar-inverse navbar-fixed-top hidden-print">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="brand" href="/">@Messages("application.name")</a>
				
					<ul class="nav">
							<li class="@("active".when(nav == "technologies"))"><a href="/technologies">Technologies</a></li>
							<li class="@("active".when(nav == "namingrules"))"><a href="/naming-rules">Règles de Nommage</a></li>
							<li class="@("active".when(nav == "datatable"))"><a href="/datatable">Datatable</a></li>
							<li class="dropdown @("active".when(nav == "twitter-bootstrap" | nav == "gestion-user-permissions" | nav == "gestion-user-history" | nav == "gestion-assets" | nav == "cas"))">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="modules">Modules<b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="modules">
								<li class="@("active".when(nav == "twitter-bootstrap"))"><a href="/modules/twitter-bootstrap">Twitter bootstrap</a></li>
								<li class="@("active".when(nav == "gestion-user-permissions"))"><a href="/modules/gestion-user-permissions">Permissions utilisateur</a></li>
								<li class="@("active".when(nav == "gestion-user-history"))"><a href="/modules/gestion-user-history">Historique utilisateur</a></li>
								<li class="@("active".when(nav == "gestion-assets"))"><a href="/modules/gestion-assets">Assets</a></li>
								<li class="@("active".when(nav == "cas"))"><a href="/modules/cas">CAS</a></li>
							
							</ul>
  						</li>																	
					</ul>
				</div>
			</div>
		</div>

