@(nav: String)

@scripts() = {
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/naming-rules/app.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/directives/directives.js")" type="text/javascript" charset="utf-8"></script>  	 
}

@main("Technologies", nav, scripts()) {
<header>
 <div class="row-fluid">
    <div class="span11 offset1">
		<h1>Technologies</h1>
		<p class="lead">Ensemble des technologies pouvant être utilisées pour le développement d'une application web</p>
	</div>
</div>
</header> 	
<div class="row-fluid">
<p>

</p>
</div>

}