@() 
@import views.html.helper._

<div ng-class="message.clazz" ng-show="message.text !== undefined">
	<strong>{{message.text}}</strong><button class="btn btn-link" ng-click="message.showDetails=!message.showDetails" ng-show="message.isDetails">@(Messages("reagents.msg.details"))</button>
	<div ng-show="message.showDetails">
	    <ul>
    		<li ng-repeat="(key1, value1) in message.details">{{key1}}
    		<ul>
    			<li ng-repeat="(key2, value2) in value1"> {{value2}} </li>
    		</ul>
    		</li>
    	</ul>	
	</div>
</div>
	<div class="col-md-10 col-lg-10">
		<div class="row">
			<div class="btn-toolbar toolbar">
				<h1 class="col-md-2 col-lg-2 declaration-title pull-left">
					{{getName()}} 
				</h1>
			</div>
		</div>
		<div class="row">
	
		<div class="col-md-3 col-lg-4 pull-right">
				<div class="panel panel-default">
				  <div class="panel-heading">			  
				  <h2 class="panel-title">Info</h2>			  	
				  </div>
				  <div class="panel-body">
				  
				    <form class="form-horizontal">
				    @columnLabelValue(Messages("kits.creationDate")){
						<p class="form-control-static">{{kit.traceInformation.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
					}
				    @columnLabelValue(Messages("kits.createUser")){
						<p class="form-control-static">{{kit.traceInformation.createUser}}</p>
					}
				   	@columnLabelValue(Messages("kits.modifyDate")){
						<p class="form-control-static">{{kit.traceInformation.modifyDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
					}	
				    @columnLabelValue(Messages("kits.modifyBy")){
						<p class="form-control-static">{{kit.traceInformation.modifyUser}}</p>
					}
				   			    								
					</form>
				  </div>
				</div>
			</div>
		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default">
			  <div class="panel-heading">			  
			  <h2 class="panel-title">@Messages("kit.refCommand")</h2>			  	
			  </div>
			  <div class="panel-body">
			    <form class="form-horizontal">
				    <div class="form-group">
				    		<label class="col-md-4 col-lg-3 control-label">@Messages("order.code") :</label>
							<div ng-switch on="editMode">
								<p class="form-control-static" ng-switch-when="false">{{order.code}}</p>
							<div ng-switch-when="true">
							<div class="col-md-5 col-lg-5" ng-class="getClass('orderCode')">
								<input type="text" class="form-control" ng-model="order.code" ng-readonly="!editMode" ng-disabled="!editMode" />
								<span class="help-block">
		                            {{mainService.getError("order.code")}}
		                        </span>
							</div>
							</div>
							</div>
					    	</div>
						    	<div class="form-group">
								<label class="col-md-4 col-lg-3 control-label">@Messages("order.providerCode") :</label>
								<div ng-switch on="editMode">
									<p class="form-control-static" ng-switch-when="false">{{order.providerCode}}</p>
								<div ng-switch-when="true">
								<div class="col-md-5 col-lg-5" ng-class="getClass('providerCode')">
									<input type="text" class="form-control" ng-model="order.providerCode" ng-readonly="!editMode" ng-disabled="!editMode" />
									<span class="help-block">
			                            {{mainService.getError("order.providerCode")}}
			                        </span>
								</div>
								</div>
								</div>
					    	</div>							
				</form>
			  </div>
			</div>
		</div>
		</div>
		<div class="row">
		<h2>Boîte courante: {{currentBox.barCode}}</h2>
			<table class="table table-bordered ">
			<tr>
				<th>
				@Messages("catalogRefCode")
				</th>
				<th>
				@Messages("bundleBarCode")
				</th>
				<th>
				@Messages("barCode")
				</th>
			</tr>
			<tr ng-repeat="box in boxes">
				<td>
					<input type="text" class="form-control" ng-model="box.catalogRefCode" ng-keydown="getType($event, box)">
				</td>
				<td>
					<input type="text" class="form-control"ng-model="box.bundleBarCode">
				</td>
				<td>
					<input type="text"  class="form-control" ng-model="box.barCode" ng-keydown="scan($event)">
				</td>
			</tr>
			</table>
		</div>
		<div class="row">
				<div class="col-md-12 col-lg-12" datatable="boxesDatatable"></div>
			</div>
		</div>
	