@()

@import models.laboratory.common.description.ObjectType

@scripts() = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("datatable/css/datatable.css")">
	<script src="@helper.getAsset("javascripts","angular","1.0.5","angular_1.0.5.min.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("ngl/javascripts/controllers/commons.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("javascripts/ngl/processus/app.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("datatable/javascripts/services/datatable.js")" type="text/javascript" charset="utf-8"></script>     

	<script src="@routes.Assets.at("javascripts/ngl/baskets/services.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("ngl/javascripts/services/basket.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("javascripts/ngl/processus/controllers.js")" type="text/javascript" charset="utf-8"></script>   
	<script src="@controllers.processus.tpl.routes.Processus.javascriptRoutes" type="text/javascript" charset="utf-8"></script>   
}

@views.html.search("Processus", "processus", scripts, controllers.processus.tpl.routes.Processus.home("home"))