@(datatableConfig: views.components.datatable.DatatableConfig)
@form() = {
	<form class="well form-search form-vertical">
	<!--<div class="control-group pull-left error">  -->
	<div id="processus2"  class="control-group pull-left"> 
	<select ng-model="processus" ng-options="processus.name for processus in process" ng-change="search()">
		<option value="">-- select processus --</option>
	</select>		
	</div>
	
	<select ng-model="sample" ng-options="sample.name for sample in samples" id="sample" ng-change="search()">
		<option value="">-- select sample --</option>
	</select>
	
	<select ng-model="project" ng-options="project.code+'-'+project.name for project in projects" ng-change="search()">
		<option value="">-- select project --</option>
	</select>

	</form>
}

@button() = {
	<button class="btn btn-info" ng-click="sauvegarde()" >@(Messages("processus.save"))</button>
}

<div ng-init="init()">
@views.html.components.datatable.datatable(datatableConfig, form, button)		
</div>