@()

@import views.html.helper._
@form() = {

	@columnSearchForm{
		@formGroup{
			@**
			<input type="text" class="form-control" ng-model="searchService.form.projectCode" typeahead="project.code as project.code for project in searchService.lists.getProjects() | filter:$viewValue | limitTo:20" placeholder='@Messages("search.placeholder.project")'>
			**@
			<div class="form-control" bt-select ng-model="searchService.form.projectCodes" multiple="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project.code for project in searchService.lists.getProjects()"></div>			
		
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.stateCodes" multiple="true" placeholder="@Messages("search.placeholder.states")" bt-options="state.code as state.name for state in searchService.states()"></div>			
		}								
						
	}
	@columnSearchForm{
		@formGroup{
			@**
			<input type="text" class="form-control" ng-model="searchService.form.sampleCode"  typeahead="sample.code as sample.code for sample in searchService.lists.getSamples() | filter:$viewValue | limitTo:20"  ng-focus="searchService.refreshSamples()" placeholder='@Messages("search.placeholder.sample")'>
			**@
			<div class="form-control" bt-select ng-model="searchService.form.sampleCodes" multiple="true" filter="true" placeholder='@Messages("search.placeholder.samples")' bt-options="sample.code as sample.code for sample in searchService.lists.getSamples()" ng-focus="searchService.refreshSamples()"></div>			
		
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.validCode" placeholder="@Messages("search.placeholder.valid")" bt-options="valid.code as valid.name for valid in searchService.lists.getValuations()"></div>
		}
		
		
	}
	@columnSearchForm{
		@formGroup{					
			<input type="text" class="form-control" ng-model="searchService.form.regexCode" placeholder='@Messages("search.placeholder.regexCode")'>
		}
		
		@formGroup{	
			<div  class="form-control" bt-select ng-model="searchService.form.resolutionCodes" multiple="true" placeholder="@Messages("search.placeholder.resolutions")" bt-options="valid.code as valid.name group by valid.category.name for valid in searchService.lists.getResolutions()"></div>														
		}
		
		
				
	}	
	@columnSearchForm{
		@formGroup{					
			<div class="form-control" bt-select ng-model="searchService.form.typeCodes" multiple="true" placeholder="@Messages("search.placeholder.types")" bt-options="type.code as type.name for type in searchService.lists.getTypes()"></div>			
		}
				
	}			
}


@searchForm(form)()()

