@()


@column()(value: Html) = {
	<div class="col-md-4 col-lg-4">
		@value
	</div>
}

@columnLabelValueAdv(label:String)(value: Html) = {
	<div class="form-group">
	    <label class="col-md-2 col-lg-2 control-label">@label</label>
	    <div class="col-md-10 col-lg-10">
	      @value
	    </div>
	</div>
}


<!-- ----------------------------------------------------------------------------- -->
<!-- Modal to display image in full size -->
	<div id="myImageModal" class="modal fade"  tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" style="left:{{modalLeft}}px; top:{{modalTop}}px;position:fixed;width:100%">
		
    		<div class="modal-content" style="width:{{modalWidth}}px; border:0px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">{{readset.code}}</h3>	
					<h4 id="myModalLabel">{{modalTitle}}</h4>
				</div>
				<div class="modal-body" style="padding:0px">
					<img src="data:image/png;base64,{{modalImage}}" style="width:{{modalWidth}}px; height:{{modalHeight}}px;" />
				</div>
				<div class="modal-footer">
				</div>
			</div>
		
	</div>
<!-- -------------------------------------------------------------------------------- -->


<div class="row">
	<div class="col-md-12 col-lg-12">
	<div class="page-header">	
		<div class="btn-toolbar pull-right" >
			 	<button class="btn btn-default" ng-if="isEditMode()" ng-click="save()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
			 	<button class="btn btn-default" ng-if="isEditMode()" ng-click="cancel()" data-toggle="tooltip" title="@Messages("button.cancel")" ><i class="fa fa-undo"></i> @Messages("button.cancel")</button>
		 		<button class="btn btn-default" ng-if="!isEditMode()" ng-click="activeEditMode()" data-toggle="tooltip" title="@Messages("button.edit")" ><i class="fa fa-edit"></i> @Messages("button.edit")</button>
			</div>
		 <h1 ng-switch on="readset.productionValuation.valid">		

		 	<span ng-switch-when="FALSE" class="text-danger">{{readset.code}}</span> 
		 	<span ng-switch-when="TRUE" class="text-success">{{readset.code}}</span> 
		 	<span ng-switch-default>{{readset.code}}</span> 
		 	<small>   
		 	<span ng-bind="readset.state.code|codes:'state'"></span>
		 	</small>
		 </h1>		 
	</div>
	</div>
</div>

<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
<div class="col-md-12 col-lg-12">
	<ul class="nav nav-tabs margin-bottom-5">
		<li class="active"><a href="#" data-target="#general" data-toggle="tab">@Messages("readsets.tabs.general")</a></li>
		<li><a href="#" data-target="#advanced" data-toggle="tab">@Messages("readsets.tabs.advanced")</a></li>    
	</ul>
	<div class="tab-content">
	<div class="tab-pane active" id="general">		
			<form class="form-horizontal">
				<div class="row">
				@column(){
					@views.html.helper.columnLabelValue(Messages("readsets.code")){
						<p class="form-control-static">{{readset.code}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.state.code")){

						<workflow-chart ng-attr-modal-bg-color="white" ng-attr-modal-width="700" ng-attr-modal-height="800" ng-attr-modal-header-text='@Messages("readsets.modal.header.text")' ng-attr-modal-body-text="" 
		        			ng-attr-modal-data="statesHierarchy" ng-attr-modal-historical-data="readset.state.historical" ng-attr-modal-current-code="readset.state.code">
		        		</workflow-chart>
					}
					

		        
					@views.html.helper.columnLabelValue(Messages("readsets.productionValuation.valid")){
						<div ng-switch on="isEditMode()">
							<p class="form-control-static" ng-switch-when="false" ng-bind="readset.productionValuation.valid|codes:'valuation'"/>
							<div ng-switch-when="true"><div bt-select class="form-control" ng-model="readset.productionValuation.valid" bt-options="valid.code as valid.name for valid in lists.getValuations()"></div></div>
						</div>
					}				
					@views.html.helper.columnLabelValue(Messages("readsets.productionValuation.resolutions")){
							<div bt-select  class="form-control" ng-model="readset.productionValuation.resolutionCodes" multiple="true" bt-options="valid.code as valid.name group by valid.category.name for valid in lists.getResolutions()" ng-edit="isEditMode()"></div>							
					}
					@views.html.helper.columnLabelValue(Messages("readsets.productionValuation.criteria")){
						<div ng-switch on="isEditMode()">
							<p class="form-control-static" ng-switch-when="false" ng-bind="readset.productionValuation.criteriaCode|codes:'valuation_criteria'" />
							<div ng-switch-when="true"><div bt-select class="form-control" ng-model="readset.productionValuation.criteriaCode" bt-options="valid.code as valid.name for valid in lists.getValuationCriterias()"></div></div>
						</div>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.valuation.user")){
						<p class="form-control-static" >{{readset.productionValuation.user}} ({{readset.productionValuation.date | date:'@Messages("date.format")'}})</p>
					}
				}
				@column(){
					@views.html.helper.columnLabelValue(Messages("readsets.treatments.global.usefulSequences")){
						<p class="form-control-static" >{{readset.treatments.global["default"].usefulSequences.value |	number}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.treatments.global.usefulBases")){
						<p class="form-control-static" >{{readset.treatments.global["default"].usefulBases.value | number}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.bioinformaticValuation.valid")){
						<div ng-switch on="isEditMode()">
							<p class="form-control-static" ng-switch-when="false" ng-bind="readset.bioinformaticValuation.valid|codes:'valuation'"/>
							<div ng-switch-when="true"><div bt-select  class="form-control" ng-model="readset.bioinformaticValuation.valid" bt-options="valid.code as valid.name for valid in lists.getValuations()"></div></div>
						</div>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.bioinformaticValuation.resolutions")){
						<div bt-select  class="form-control" ng-model="readset.bioinformaticValuation.resolutionCodes" multiple="true" bt-options="valid.code as valid.name group by valid.category.name for valid in lists.getResolutions()" ng-edit="isEditMode()"></div>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.bioinformaticValuation.criteria")){
						<div ng-switch on="isEditMode()">
							<p class="form-control-static" ng-switch-when="false" ng-bind="readset.bioinformaticValuation.criteriaCode|codes:'valuation_criteria'"/>
							<div ng-switch-when="true"><div bt-select  class="form-control" ng-model="readset.bioinformaticValuation.criteriaCode" bt-options="valid.code as valid.name for valid in lists.getValuationCriterias()"></div></div>
						</div>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.valuation.user")){
						<p class="form-control-static" >{{readset.bioinformaticValuation.user}} ({{readset.bioinformaticValuation.date | date:'@Messages("date.format")'}})</p>
					}
				}
				@column(){
					@views.html.helper.columnLabelValue(Messages("readsets.runCode")+" / "+Messages("readsets.laneNumber")){
						<p class="form-control-static"><a href="#" ng-click="goToRun()">{{readset.runCode}}</a> / {{readset.laneNumber}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.runType")){
						<p class="form-control-static" >{{readset.runTypeCode}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.nbCycles")){
						<p class="form-control-static" >{{runNGSRG["default"].nbCycle.value}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("runs.sequencingStartDate")){
						<p class="form-control-static">{{readset.runSequencingStartDate|date:'@Messages("date.format")'}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.endOfRG")){
						<p class="form-control-static">{{readset.state.historical|filter:'F-RG'|get:'date'|date:'@Messages("datetime.format")'}}</p>
					}
					@views.html.helper.columnLabelValue(Messages("readsets.endOfQC")){
						<p class="form-control-static">{{readset.state.historical|filter:'F-QC'|get:'date'|date:'@Messages("datetime.format")'}}</p>
					}
				}
				</div>
				
				<div class="row">
					<div ng-switch on="isEditMode()">
						<div class="col-md-8 col-lg-8" ng-switch-when="false">
							<div class="form-group">
								<label class="col-md-3 col-lg-3 control-label">@Messages("readsets.productionValuation.comment")</label>
								<div class="col-md-9 col-lg-9">
									<p ng-bind-html="deliberatelyTrustHTMLComment()"></p>
				   				</div>
				   			</div>
			   			</div>
			   			<div class="col-md-8 col-lg-8" ng-switch-when="true">
			   				<div class="form-group">
								<label class="col-md-3 col-lg-3 control-label">@Messages("readsets.productionValuation.comment")</label>
								<div class="col-md-9 col-lg-9">
									<textarea class="form-control" ng-model="readset.productionValuation.comment" rows="3"></textarea>
								</div>
							</div>
						</div>
			  		</div>		  		
		  		</div>
		  		
			</form>		
		</div>
	
	<div class="tab-pane" id="advanced">
	<div class="row">
	<form class="form-horizontal">		
			<div class="col-md-12 col-lg-12">
				@columnLabelValueAdv(Messages("readsets.archiveId")){
					<p class="form-control-static">{{readset.archiveId}}</p>
				}
				@columnLabelValueAdv(Messages("readsets.archiveDate")){
					<p class="form-control-static">{{readset.archiveDate | date:'@Messages("datetime.format")'}}</p>
				}
				@columnLabelValueAdv(Messages("readsets.files.path")){
					<p class="form-control-static">{{readset.path}}</p>
				}
				@columnLabelValueAdv(Messages("readsets.properties.isSentCCRT")){
					<div class="checkbox" ng-if="isEditMode()">
	 					<label>
						<input type="checkbox"  ng-model="readset.properties.isSentCCRT.value" ng-if="isEditMode()">	
						</label>
					</div>
					
					<p class="form-control-static" ng-switch on="readset.properties.isSentCCRT.value" ng-if="!isEditMode()">
						<i ng-switch-when="true" class="fa fa-check-square-o  fa-lg"></i>
						<i ng-switch-default class="fa fa-square-o  fa-lg"></i>
					</p>					
				}
				@columnLabelValueAdv(Messages("readsets.properties.isSentCollaborator")){
					<div class="checkbox" ng-if="isEditMode()">
	 					<label>
						<input type="checkbox"  ng-model="readset.properties.isSentCollaborator.value" ng-if="isEditMode()">	
						</label>
					</div>
					
					<p class="form-control-static" ng-switch on="readset.properties.isSentCollaborator.value" ng-if="!isEditMode()">
						<i ng-switch-when="true" class="fa fa-check-square-o  fa-lg"></i>
						<i ng-switch-default class="fa fa-square-o  fa-lg"></i>
					</p>															
				}	
			</div>					
	</form>
	</div>
		<div class="row">
			<div class="col-md-10 col-lg-10">
				<table class="table table-condensed table-hover table-bordered">
					<thead>
						<tr>
							<th>@Messages("readsets.files.fullname")</th>
							<th>@Messages("readsets.files.typeCode")</th>
							<th>@Messages("readsets.files.usable")</th>
							<th>@Messages("readsets.files.properties.label")</th>
							<th>@Messages("readsets.files.properties.asciiEncoding")</th>
							<th>@Messages("readsets.files.properties.md5")</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in readset.files">
							<td>{{file.fullname}}</td>
							<td>{{file.typeCode}}</td>
							<td ng-if="file.usable == true">@Messages("readsets.files.isUsable")</td>
							<td ng-if="file.usable == false">@Messages("readsets.files.isNotUsable")</td>
							<td>{{file.properties.label.value}}</td>
							<td>{{file.properties.asciiEncoding.value}}</td>
							<td>{{file.properties.md5.value}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		
	</div>
</div>
</div>
</div>
<div class="row">	
	<div class="col-md-12 col-lg-12">
		@views.html.commons.treatments()
	</div>
</div>	