@(code: String)

@scripts() = {
	 <script src="@controllers.readsets.tpl.routes.ReadSets.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
     <script src="@helper.getAsset("javascripts","highcharts","4.0.1","highcharts.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("datatable/javascripts/services/datatable2.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/readsets/app.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>                      
     <script src="@routes.Assets.at("ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-bi/javascripts/readsets/services.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/readsets/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/readsets/details-ctrl.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/workflowChart.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/matchmedia-ng.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-common/javascripts/fileSaver.min.js")" type="text/javascript" charset="utf-8"></script>
}

@views.html.main("readsets.page.title", menu("readsets."+code), scripts)(views.html.contents.lefttabs())

