@(isNotValuation: Boolean)

<div ng-init="init()"> 
<div class="datatable" datatable="datatable.getConfig()">
		<div id="datatableFormConfiguration">
			<form class="well well-small form-inline" ng-controller="SearchFormCtrl" ng-init="init()">
				<div class="row-fluid">
				<input type="text" ng-model="form.projectCodes" bs-typeahead="searchProjects" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.projects")'>
				<input type="text" ng-model="form.sampleCodes"  bs-typeahead="searchSamples" data-min-length="1" data-items="20" ng-click="refreshSamples()" placeholder='@Messages("search.placeholder.samples")'>
				<input type="date" ng-model="form.fromDate" placeholder='@Messages("search.placeholder.fromDate")'>
				<input type="date" ng-model="form.toDate" placeholder='@Messages("search.placeholder.toDate")'>
				</div>
				<div class="row-fluid">
				@if(isNotValuation) {
					<select ng-model="form.stateCodes" multiple title="@Messages("search.placeholder.states")" ng-options="state.code as state.name for state in lists.getStates()" bs-select></select>			
				}
				<select ng-model="form.productionValidCode" title="@Messages("search.placeholder.productionValid")" ng-options="valid.code as valid.name for valid in lists.getValuations()" bs-select></select>
				<select ng-model="form.bioinformaticValidCode" title="@Messages("search.placeholder.bioinformaticValid")" ng-options="valid.code as valid.name for valid in lists.getValuations()" bs-select></select>
				
				
				<div class="btn-toolbar pull-right">
					<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" ><i class="icon-search icon-large"></i></button>
					<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn"><i class="icon-undo icon-large"></i></button>				 	
				</div>
								
				
				</div>
				
			</form>
		</div>
</div>
</div>

</div>