@(nav: String = "")

  <!-- Navbar
    ================================================== -->
		
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="brand" href="/">@Messages("application.name")</a>
				
					<ul class="nav">
						<li class="@("active".when(nav == "plates.new"))"><a href="@controllers.plates.tpl.routes.Plates.home("new")">@Messages("plates.menu.new")</a></li>
						<li class="@("active".when(nav == "plates.search"))"><a href="@controllers.plates.tpl.routes.Plates.home("search")">@Messages("plates.menu.search")</a></li>												
					</ul>
				</div>
			</div>
		</div>

