@(nav: String = "")

  <!-- Navbar
    ================================================== -->
		
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
				
					<ul class="nav">
						<li class="@("active".when(nav == "plates.new"))"><a href="@controllers.plaques.tpl.routes.Plaques.home("new")">@Messages("menu.plaques.new")</a></li>
						<li class="@("active".when(nav == "plates.search"))"><a href="@controllers.plaques.tpl.routes.Plaques.home("search")">@Messages("menu.plaques.search")</a></li>												
					</ul>
				</div>
			</div>
		</div>

