/*custom bootrap for flowcell experiments*/

/* GENERAL*/

.tabPaneTable{
	padding-top: 20px;
}


.litte-icone {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.small-litte-icone {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 14px;	
}

.small-litte-icone-transparent {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 14px;
	background: transparent
}

.litte-eye{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	float: right;
}



/* COMPO FLOWCELL INPUTS*/

.headButtonEye{
	float: left;
	margin: 1px 0px 1px 20px;
}

.compoFlowcel {	
    margin-left: 60px;
    width: 400px;
	
}

.compoFlowcel>table>tbody>tr>td{
	line-height: 1.33333333;
	vertical-align: top;
	border: none;
	width: 380px;
	height: 20px;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
}

.compoFlowcel>table>tbody>tr>th{
  border: none;
  padding: 8px;
  line-height: 1.33333333;
  vertical-align: top;
  max-width: 27px;
  width: 15px;
  }  


.inputContainerGroup {
	margin-bottom: 10px;
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	width: 600px;
}

.inputContainerGroup>p {
margin: 8px 0 8px;
}

/* COMPO FLOWCELL LANES*/

.flowCellLane {
	
	font-size: 10px;	 
	padding-top: 0px;
	border-top: 2px outset #C0C0C0;
	border-bottom: 2px outset #C0C0C0;	
	/*outline-color: #C0C0C0;
	outline-style: double;
	outline-width: 1px;*/
	
}

.flowCellLane .table>tbody{
	border: none;
}

.flowCellLane .table>tbody>tr>th {
	border-top:none;	
	padding-top: 5px;
	text-align: left;
	vertical-align: middle;
}

.flowCellLane .table>tbody>tr>td:not(.dropZone) {
	padding: 8px;
	line-height: 1.33333333;
	vertical-align: top;
	text-align: left;
	/* border-top: 1px solid #ddd; */
}

.flowCellLane .table{
	margin-bottom: 0px;
}

.tagCell{
	width: 112px;
	text-align: left;
}

.numberLane {
	border: 1px solid gray;
	padding: 4px;
	font-size: 12px;

}

#numberLane{
	max-width: 2px;
	padding-right: 0px
}

.LaneData{
	font-size: 12px;
	width: 400px;
}

.LaneSummary{
	font-size: 12px;
	padding: 3px 3px 3px;
	margin: 3px 1px 3px;
	width:300px;
	
}

#dropZone{
	border: 0;
	height: 18px;
}

.flowCellLane .table>tbody>tr>th:last-child:not([ng-repeat="property in experiment.containerOutProperties"]),
.flowCellLane .table>tbody>tr>td:last-child:not([ng-repeat="property in experiment.containerOutProperties"]):not(.dropZone){
	border-right: 1px solid #ddd;
}


.insertHeadFC{
	float: left;
	width: 50px;
	margin: 0px 12px 0px 8px;
}

/*
.LaneOutput{	
	border-right: 1px solid #ddd;
}
*/

/* EXPERIMENT ROADMAP*/

.roadmap .datatable .table>thead:first-child>tr:first-child>th{
	text-align: center;
}

.roadmap .datatable .form-group input.form-control:not([type="checkbox"]){
	padding: 3px 3px 3px;
	margin: 0px;
	width: 52px;
	height: 22px;
	text-align: left;
}

.roadmap .datatable .table>tbody>tr>td{
	border: 1px solid #ddd;
	max-width: 240px;
	overflow-wrap: break-word;
	text-align: left;
	vertical-align: middle;
}

