/*custom bootrap for flowcell experiments*/

/* MAIN */

/* TAB */
.tabPaneTable{
	padding-top: 20px;
}


/* COMPO FLOWCELL INPUTS*/

.headButtonEye{
	float: left;
	margin: 1px 0px 1px 20px;
}

.compoFlowcel {	
    margin-left: 40px;
    width: 400px;
	
}

.compoFlowcel>table>tbody>tr>td{
	line-height: 1.33333333;
	vertical-align: top;
	border: none;
	width: 380px;
	height: 20px;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
}

.compoFlowcel>table>tbody>tr>th{
  border: none;
  padding: 8px;
  line-height: 1.33333333;
  vertical-align: top;
  max-width: 27px;
  width: 15px;
  }  


.inputContainerGroup {
	margin-bottom: 10px;
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	width: 500px;
}

.inputContainerGroup>p {
margin: 8px 0 8px;
}

/* COMPO FLOWCELL LANES*/

.numberLane {
	border: 1px solid gray;
	padding: 4px;
	font-size: 12px;

}

.flowCellLane {
	
	font-size: 10px;	 
	padding-top: 0px;
	border-top: 2px outset #C0C0C0;
	border-bottom: 2px outset #C0C0C0;	
	/*outline-color: #C0C0C0;
	outline-style: double;
	outline-width: 1px;*/
	
}

.flowCellLane .table>tbody{
	border: none;
}

.flowCellLane .table>tbody>tr>th {
	border-top:none;	
	padding-top: 5px;
	text-align: left;
	vertical-align: middle;
}

.flowCellLane .table>tbody>tr>td:not(.dropZone) {
	padding: 8px;
	line-height: 1.33333333;
	vertical-align: top;
	text-align: left;
	/* border-top: 1px solid #ddd; */
}

.flowCellLane .table{
	margin-bottom: 0px;
}

.tagCell{
	max-width: 112px;
	width: 90px;
	text-align: left;
}

#SampleTagCell{
	width: 125px;
	max-width: 125px;
}

.typeLibrairy {
	width: 20px;
	max-width: 30px;
	padding-right: 0px;
	margin-right: 0px;
}



#numberLane{
	max-width: 2px;
	padding-right: 0px
}

.LaneData{
	font-size: 12px;
	width: 200px;
	max-width: 2000px;
}

.LaneSummary{
	font-size: 12px;
	padding: 3px 3px 3px;
	margin: 3px 1px 3px;
	width:300px;
	
}

.dropZone{
	border: none;
	height: 18px;	
}

#dropZoneFCOutput{
	border: none;
}



#dropLittleRightFinger{
	position: absolute;
 /*	-webkit-animation: animatingZoneHoverLittleRightFinger 400ms infinite alternate-reverse; */
}

/*
@-webkit-keyframes animatingZoneHoverLittleRightFinger {
	0%   {left:52px;}
    25%  {left:54px;}
    50%  {left:58px;}
    75%  {left:60px;}
    100% {left:62px;}
}
*/
#dropLeftFinger{
	position: relative;
	left: 50%;
 /*	-webkit-animation: animatingZoneHoverLeftFinger 400ms infinite alternate-reverse; */
}

/*
@-webkit-keyframes animatingZoneHoverLeftFinger {
	0%   {top:4px;}
    25%  {top:6px;}
    50%  {top:8px;}
    75%  {top:10px;}
    100% {top:12px;}
}
*/

.flowCellLane .table>tbody>tr>th:last-child:not([ng-repeat="property in experiment.containerOutProperties"]),
.flowCellLane .table>tbody>tr>td:last-child:not([ng-repeat="property in experiment.containerOutProperties"]):not(.dropZone){
	border-right: 1px solid #ddd;
}


.insertHeadFC{
	float: left;
	width: 50px;
	margin: 0px 12px 0px 8px;
}

/*
.LaneOutput{	
	border-right: 1px solid #ddd;
}
*/

/* EXPERIMENT ROADMAP*/

.roadmap .datatable .table>thead:first-child>tr:first-child>th{
	text-align: center;
}

.roadmap .datatable .form-group input.form-control:not([type="checkbox"]){
	padding: 3px 3px 3px;
	margin: 0px;
	width: 52px;
	height: 22px;
	text-align: left;
}

.roadmap .datatable .table>tbody>tr>td{
	border: 1px solid #ddd;
	max-width: 240px;
	overflow-wrap: break-word;
	text-align: left;
	vertical-align: middle;
}

/*Custom galbini compo flowcell*/

.flowcellTable .table{
	margin-bottom:0px;		
} 

.flowcellTable >table>tbody {
	border-bottom: 2px solid #000000;		
}

.flowcellTable >table>tbody>tr>td {
	font-size: 11px;	 	
}

.flowcellTable >table>thead>tr>th {
	font-size: 11px;	 	
}

.flowcellTable >table>tbody+tbody {
	border-bottom: 2px solid #000000;		
}

.flowcellTable >table>tbody+tbody>tr>td {
	font-size: 11px;	 	
}

.flowcellTable .label {
	font-size: 12px;	 	
}

.label-black {
	background-color: #FFFFFF;
	color: #000000;
}

.flowcellTable .over .label{
	background-color: #5bc0de;
	color: #FFFFFF;	
}

.flowcellTable .dropZoneHover{
	background-color: #f1f1f1;		
}
