@()
<div class="row">
	<div class="col-md-6 col-lg-6">
		<table class="table table-condensed table-hover table-bordered table-striped form-horizontal">
			<thead>
				<tr>
					<th>@Messages("containers.resultsqc.type")</th>
					<th>@Messages("containers.resultsqc.results")</th>
					<th>@Messages("containers.resultsqc.valuationComment")</th>
					<th>@Messages("containers.resultsqc.valuation")</th>
					<th>@Messages("containers.resultsqc.date")</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="qc in container.qualityControlResults">
					<td ng-bind="qc.typeCode|codes:'type'" />
					<td>
						<div ng-repeat="(key, value) in qc.properties" ng-switch on="value._type === 'img'" class="row">
							<div class="col-md-12 col-lg-12" ng-switch-when="true">
								 <div ng-click="setImage(value.value,value.fullname,value.width,value.height)"  
     								 			ng-show="value !== undefined" > 
								<div data-target="#modalImage" role="button" data-toggle="modal" >
									<a href="#">
									<img ng-src="data:image/{{value.extension}};base64,{{value.value}}" width="{{value.width*0.15}}" height="{{value.height*0.15}}"/>
									</a>
								</div>
								</div>
							</div>
							<div ng-switch-when="false" ng-switch on="angular.isString(value.value)">
								<label class="col-md-6 col-lg-6 control-label">{{key|codes:'property_definition'}} : </label>
								<div ng-switch-when="false" class="col-md-6 col-lg-6">
									<p class="form-control-static" ng-if="value.unit !== null">{{value.value|number:2}} {{value.unit}}</p>
									<p class="form-control-static" ng-if="value.unit === null">{{value.value|number:2}}</p>										
								</div>
								<div ng-switch-when="true" class="col-md-6 col-lg-6">
									<p class="form-control-static" ng-if="value.unit !== null">{{value.value}} {{value.unit}}</p>
									<p class="form-control-static" ng-if="value.unit === null">{{value.value}}</p>										
								</div>								
							</div>
						</div>
					</td>
					<td ng-bind="qc.valuation.comment" />
					<td ng-bind="qc.valuation.valid|codes:'valuation'" />
					<td ng-bind="qc.date|date:'@Messages("date.format")'" />					
				</tr>							
			</tbody>
		</table>
	</div>				
</div>