@()
@import views.html.helper._

@alert(config: String)(codeContainer: xml.Elem)() = {
	<div class="col-xs-1 col-md-1 col-lg-1">
		<div class="alert alert-@config" role="alert">
			@codeContainer
		</div>
	</div>
}



<div class="row">

		<div class="col-md-12 col-lg-12">
		<div ng-repeat="path in pathsParentsCurrent">
		
			<div ng-if="path[0].childNodes.includes(firstNode)">
				<div ng-repeat="node in path | orderBy:'indexFromCurrent'">

						@alert("success")(<strong ng-bind="node.container.code" />)

				</div>
			</div>
			
		</div>	
		</div>
	
	
		<div class="col-md-12 col-lg-12">
				@alert("danger")(<strong ng-bind="firstNode.container.code" />)
				<div ng-if="firstNode.childNodes.length>0">
					=>
					<div ng-repeat="childNode in firstNode.childNodes">
						
						<div class="col-md-12 col-lg-12" ng-repeat="path in pathsChildrenCurrent">
							<div ng-if="path[0] === childNode">
							<div ng-repeat="node in path">
								
									@alert("info")(<strong ng-bind="node.container.code" />)=>
								
							</div>
							<div ng-repeat="childChild in node.childNodes">
								<div ng-if="childChild === path[0]">
								<div ng-repeat="other in path">
									@alert("info")(<strong ng-bind="other.container.code" />)=>
								</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				
		</div>
	
		@***
		<div class="col-md-12 col-lg-12">
		<div ng-repeat="path in pathsChildrenCurrent">	
			<div ng-repeat="node in path">
				<div ng-if="path[0].parentNodes.includes(firstNode)">
					@alert("info")(<strong ng-bind="node.container.code" />)
				</div>
			
			</div>
		
				
			
		</div>	
		</div>
		***@
	
</div>
