@()
@import views.html.helper._

@column()(value: Html) = {
	<div class="col-md-4 col-lg-4 col-xs-4">
		@value
	</div>
}
@sortableColumn(msg: String)() = {}

<form class="form-horizontal">
	<div class="row">
		@column(){
			@columnLabelValue(Messages("containers.table.code")){
				<p class="form-control-static" ng-bind="container.code" />
			}
			@columnLabelValue(Messages("containers.table.fromTransformationTypeCodes")){
				<div class="form-control-static" list-resize="container.fromTransformationTypeCodes|unique|codes:'type'" list-resize-min-size='3' />

			}
			@columnLabelValue(Messages("containers.table.fromPurificationTypeCode"), Html(" ng-if='container.fromPurificationTypeCode'")){
				<p class="form-control-static" ng-bind="container.fromPurificationTypeCode|unique|codes:'type'" />
			}
			@columnLabelValue(Messages("containers.table.support.categoryCode")){
				<p class="form-control-static" ng-bind="container.support.categoryCode|codes:'container_support_cat'" />
			}
			@columnLabelValue(Messages("containers.table.supportCode")){
				<a href="#" ng-click="goToSupport()" ><p class="form-control-static" ng-bind="container.support.code"/></a>
			}
			@columnLabelValue(Messages("containers.table.projectCodes")){
				<div class="form-control-static" list-resize='container.projectCodes' list-resize-min-size='3' horizontal />
			}
			@columnLabelValue(Messages("containers.table.sampleCodes")){
				<div class="form-control-static" list-resize='container.sampleCodes' list-resize-min-size='3' horizontal/>
			}
			@columnLabelValue(Messages("containers.table.comments")){
				<div class="form-control-static" ng-repeat="comment in container.comments">
					<span ng-if="comment.comment" ng-bind="comment.comment" />
				</div>
			}
		}
			
		@column(){				
			@columnLabelValue(Messages("containers.table.concentration")){
				<p class="form-control-static">
					<span ng-bind="container.concentration.value|number:2" />
					 <span ng-if="container.concentration.value !== undefined && container.concentration.value !== null" ng-bind="container.concentration.unit" />
				</p>
			}
			@columnLabelValue(Messages("containers.table.volume")){
				<p class="form-control-static">
					<span ng-bind="container.volume.value" />
					 <span ng-if="container.volume.value !== undefined && container.volume.value !== null" ng-bind="container.volume.unit" />
				</p>
			}
			@columnLabelValue(Messages("containers.table.quantity")){
				<p class="form-control-static">
					<span ng-bind="container.quantity.value" />
					 <span ng-if="container.quantity.value !== undefined && container.quantity.value !== null" ng-bind="container.quantity.unit" />
				</p>
			}
			@columnLabelValue(Messages("containers.table.size")){
				<p class="form-control-static">
					<span ng-bind="container.size.value" />
					<span ng-if="container.size.value !== undefined && container.size.value !== null" ng-bind="container.size.unit" />
				</p>
			}
			
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div ng-repeat="(key, value) in container.properties">
						<label class="col-md-6 col-lg-6 control-label" ng-if="value.unit !== null">{{key|codes:'property_definition'}} ({{value.unit}})</label>
						<label class="col-md-6 col-lg-6 control-label" ng-if="value.unit === null" ng-bind="key|codes:'property_definition'" />	
						<div class="col-md-6 col-lg-6">
							<p class="form-control-static" ng-if="key.includes('Date') || key.includes('date')" ng-bind="value.value|date:'@Messages("date.format")'"/>
							<p class="form-control-static" ng-if="!(key.includes('Date') || key.includes('date'))" ng-bind="value.value"/>	
						</div>
					</div>
				</div>
			</div>
		}
		
		@column(){
			@columnLabelValue(Messages("containers.table.valid")){
				<p class="form-control-static" ng-bind="container.valuation.valid|codes:'valuation'" />				
			}	
			@columnLabelValue(Messages("containers.table.creationDate")){
				<p class="form-control-static" ng-bind="container.traceInformation.creationDate|date:'@Messages("date.format")'" />
			}
			@columnLabelValue(Messages("containers.table.createUser")){
				<p class="form-control-static" ng-bind="container.traceInformation.createUser" />
			}		
			@columnLabelValue(Messages("containers.table.storageCode")){
				<p class="form-control-static" ng-bind="container.support.storageCode" />
			}	
			@columnLabelValue(Messages("containers.table.processCodes")){
				<div class="form-control-static" list-resize="container.processCodes" list-resize-min-size='2' horizontal />
			}
		}
	</div>

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<table class="table table-condensed table-striped table-hover table-bordered form-horizontal">
				<caption>
				<h4>
					<strong>@Messages("containers.table.contents") ( <span ng-bind="container.contents.length" /> )</strong>
				</h4>
				</caption>
				<thead>
					<tr>
						<th>@Messages("containers.table.percents")</th>
						<th>@Messages("containers.table.projectCode")</th>
						<th>@Messages("containers.table.sampleCode")</th>
						<th>@Messages("containers.table.referenceCollab")</th>
						<th>@Messages("containers.table.sampleTypes")</th>
						<th>@Messages("containers.table.properties")</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="content in container.contents|orderBy:'-percentage'">
						<td ng-bind="content.percentage" />
						<td ng-bind="content.projectCode" />
						<td ng-bind="content.sampleCode" />
						<td ng-bind="content.referenceCollab" />
						<td ng-bind="content.sampleTypeCode|codes:'type'" />
						<td>
							<div ng-repeat="(key, value) in content.properties">
								<label class="col-md-6 col-lg-6 control-label" ng-if="value.unit !== null">{{key|codes:'property_definition'}} ({{value.unit}})</label>
								<label class="col-md-6 col-lg-6 control-label" ng-if="value.unit === null" ng-bind="key|codes:'property_definition'"></label>
								<div class="col-md-6 col-lg-6">
								<!--  TO CORRECT no display codes for libLayoutNominalLength and insertSize properties   -->
								<p class="form-control-static" ng-if="key !== 'libLayoutNominalLength' &&  key !=='insertSize' " ng-bind="value.value|codes:'value':false" />
								<p class="form-control-static" ng-if="key === 'libLayoutNominalLength' || key ==='insertSize'" ng-bind="value.value" />
								</div>
								
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>

</form>
