@()

@column1()(value: Html) = {
	<div class="col-md-1 col-lg-1">
		@value
	</div>
}

@column3()(value: Html) = {
	<div class="col-md-3 col-lg-3">
		@value
	</div>
}

@column4()(value: Html) = {
	<div class="col-md-4 col-lg-4">
		@value
	</div>
}

@column6()(value: Html) = {
	<div class="col-md-6 col-lg-6">
		@value
	</div>
}

@columnLabelValue(label:String)(value: Html) = {
	<div class="form-group">
	    <label class="col-md-2 col-lg-2 control-label">@label</label>
	    <div class="col-md-10 col-lg-10">
	      @value
	    </div>
	</div>
}

<div class="row">
	<div class="col-md-12 col-lg-12 ">
	<div class="page-header" ng-init="init()">
		<div class="btn-toolbar pull-right">
			 <button class="btn btn-default" ng-if="isEditMode()" ng-click="update()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
			 <button class="btn btn-default" ng-if="isEditMode()" ng-click="cancel()" data-toggle="tooltip" title="@Messages("button.cancel")" ><i class="fa fa-undo"></i> @Messages("button.cancel")</button>
			 <button class="btn btn-default" ng-if="!isEditMode()" ng-click="startEditMode()" data-toggle="tooltip" title="@Messages("button.edit")" ><i class="fa fa-edit"></i> @Messages("button.edit")</button>
		</div>
	 	<h1>	
		 	<span>{{umbrellaProject.code}}</span> 
		 </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
	<div class="col-md-12 col-lg-12">
		<form class="form-horizontal">
			<div class="row">
				@column6(){
					@columnLabelValue(Messages("umbrellaProjects.code")){
						<p class="form-control-static">{{umbrellaProject.code}}</p>
					}
					
					@columnLabelValue(Messages("umbrellaProjects.name")){
						<div ng-switch on="isEditMode()">
							<p class="form-control-static" ng-switch-when="false">{{umbrellaProject.name}}</p>
							<input type="text" class="form-control" ng-switch-when="true" ng-model="umbrellaProject.name">
						</div>
					}
				}
			</div>
				
			<div class="row">
				@column6(){	
					@columnLabelValue(Messages("projects.projectCodes")){
						<div ng-switch on="isEditMode()">
						
							<div ng-switch-when="false"> 
								<ul ng-repeat="p in lists.getProjects()  | filterByCodesInStringArray:umbrellaProject.projectCodes">
									<li>{{p.code + ":" + p.name}}</li>
								</ul>
							</div>
							
							<div ng-switch-when="true"> 
								<select size="30" name="allProjects" ng-model="form.allProjects" multiple="true" ng-options="p.code as (p.code + ':' + p.name) for p in lists.getProjects()">
								</select>
							</div>
																	
						</div>
					}
					
				}	
				
				@column1(){
					<div ng-switch on="isEditMode()">
						<div ng-switch-when="true">
							<button type="button" class="btn btn-default btn-block" ng-click="addItem()"><i class="fa fa-forward"></i></button> 
							<button type="button" class="btn btn-default btn-block" ng-click="removeItem()"><i class="fa fa-backward"></i></button>
						</div>
					</div>
				}
				
				@column3(){				
					<div ng-switch on="isEditMode()">
						<div ng-switch-when="true"> 
							<select size="30" name="selectedProjects" ng-model="umbrellaProject.projectCodes" multiple="true" ng-options="code for code in form.selectedProjects">
							</select>
						</div>
					</div>
				}	
			</div>
		</form>
	</div>
</div>

       
