@(code: String)

@scripts() = {
	 <script src="@controllers.analyzes.tpl.routes.Analyzes.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("datatable/javascripts/services/datatable2.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyzes/app.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>                      
     <script src="@routes.Assets.at("ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-bi/javascripts/analyzes/services.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyzes/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyzes/details-ctrl.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script> 	         
}

@views.html.main("analyzes.page.title", menu("analyzes."+code), scripts)(views.html.contents.lefttabs())

