@()
<!-- <div ng-repeat="(key,value) in analysis.treatments[treatments.getTreatment().code].read1.assignationBilan.value | groupBy: 'controlName'" class="row">-->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div ng-repeat="trt in treatmentsFilter() | orderBy: 'controlName' | filter:filterTreatments" class="panel panel-default">
	<div class="panel-heading" role="tab" id="heading{{trt.controlName}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#{{trt.controlName}}" aria-expanded="true" aria-controls="{{trt.controlName}}">
         <i class="more-less glyphicon glyphicon-plus"></i>
          {{trt.controlName}}
        </a>
      </h4>
    </div>
    <div id="{{trt.controlName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{trt.controlName}}">
    	<div class="panel-body">
        <table class="table table-condensed table-hover table-bordered">
 		<thead>
 			<tr>
			</tr>
			<tr>
 				<th>@Messages("treatments.assignation.assignationBilan.cluster")</th>
				<th>@Messages("treatments.assignation.assignationBilan.otu")</th>
				<th>@Messages("treatments.assignation.assignationBilan.abundance")</th>
				<th>@Messages("treatments.assignation.assignationBilan.taxonomy")</th>
				<th>@Messages("treatments.assignation.assignationBilan.idPercent")</th>
				<th>@Messages("treatments.assignation.assignationBilan.matchLength")</th>
			</tr>
 		</thead>
 		<tbody>
 			<tr ng-repeat="assign in analysis.treatments[treatments.getTreatment().code].read1.assignationBilan.value | filter:{controlName: trt.controlName} | orderBy:sorterFunc">
 				<td>{{assign.cluster}}</td>
 				<td>{{assign.otu}}</td>
 				<td>{{assign.abundance | number}}</td>
 				<td>{{assign.taxonomy}}</td>
 				<td>{{assign.idPercent | number:2}} %</td>
 				<td>{{assign.matchLength | number:2}} %</td>
 			</tr>
 		</tbody>
	 </table>
	 </div>
    </div>
</div>
</div>

<!-- <div ng-repeat="trt in treatmentsFilter() | filter:filterTreatments" class="row">
 <div class="col-md-12 col-lg-12">

 <div class="panel panel-default">
	<div class="panel-heading"><strong>{{trt.controlName}}</strong></div>
	
	
 	<table class="table table-condensed table-hover table-bordered">
 		<thead>
 			<tr>
			</tr>
			<tr>
 				<th>@Messages("treatments.assignation.assignationBilan.cluster")</th>
				<th>@Messages("treatments.assignation.assignationBilan.otu")</th>
				<th>@Messages("treatments.assignation.assignationBilan.abundance")</th>
				<th>@Messages("treatments.assignation.assignationBilan.taxonomy")</th>
				<th>@Messages("treatments.assignation.assignationBilan.idPercent")</th>
				<th>@Messages("treatments.assignation.assignationBilan.matchLength")</th>
			</tr>
 		</thead>
 		<tbody>
 			<tr ng-repeat="assign in analysis.treatments[treatments.getTreatment().code].read1.assignationBilan.value | filter:{controlName: trt.controlName}">
 				<td>{{assign.cluster}}</td>
 				<td>{{assign.otu}}</td>
 				<td>{{assign.abundance | number}}</td>
 				<td>{{assign.taxonomy}}</td>
 				<td>{{assign.idPercent | number:2}} %</td>
 				<td>{{assign.matchLength | number:2}} %</td>
 			</tr>
 		</tbody>
	 </table>
 </div>
 
 
 </div>
 
 
</div> -->

