@()

@import play.mvc.Http.Context

@scripts() = {
	 <script src="@controllers.runs.tpl.routes.Runs.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("datatable/javascripts/services/datatable2.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>                      
     <script src="@routes.Assets.at("ngl-bi/javascripts/home/app.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-bi/javascripts/home/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>             
}

@views.html.main("home.title.name", menu("home"), scripts) {
   <div class="hero-unit">
   	<h1>@Messages("home.h10.header", Context.current().request().username())</h1>
    <p>@Messages("home.p.comment")</p> 
   </div>
   <div ng-controller="SearchCtrl" ng-init=init() ng-app="home">
	<div class="row-fluid">
		<ul class="thumbnails">
			<li class="span6">
				<div class="thumbnail">
					<h3  class="text-center"><a href="@controllers.runs.tpl.routes.Runs.home("search")?stateCodes=IP-S">@Messages("home.runs.ips")</a></h3>
					<div datatable="runsIPS"></div>
				</div>
			</li>
			<li class="span6">
				<div class="thumbnail">
					<h3  class="text-center"><a href="@controllers.runs.tpl.routes.Runs.home("search")?stateCodes=IP-RG">@Messages("home.runs.iprg")</a></h3>
					<div datatable="runsIPRG"></div>
				</div>
			</li>							
		</ul>
   	</div>
   	<div class="row-fluid">
		<ul class="thumbnails">		
			<li class="span6">
				<div class="thumbnail">
					<h3  class="text-center"><a href="@controllers.runs.tpl.routes.Runs.home("valuation")">@Messages("home.runs.iwpv")</a></h3>
					<div datatable="runsIWV_IPV"></div>
				</div>
			</li>	
			<li class="span6">
				<div class="thumbnail">
					<h3  class="text-center"><a href="@controllers.runs.tpl.routes.Runs.home("search")?keep=true">@Messages("home.runs.keep")</a></h3>
					<div datatable="runsKeep"></div>
				</div>
			</li>		
		</ul>
   	</div>
   </div>
}
