@(nav: String = "")

  <!-- Navbar
    ================================================== -->
		
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="brand" href="@controllers.main.tpl.routes.Main.home()">@Messages("application.name")</a>
					<ul class="nav">
						<li class="dropdown @("active".when(nav.endsWith("validation")))">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="validation">@Messages("validation.menu")<b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="validation">
								<li class="@("active".when(nav == "runs.validation"))"><a href="@controllers.runs.tpl.routes.Runs.home("validation")">@Messages("validation.menu.runs")</a></li>																				
								<li class="@("active".when(nav == "readsets.validation"))"><a href="@controllers.readsets.tpl.routes.ReadSets.home("validation")">@Messages("validation.menu.readsets")</a></li>
							</ul>
  						</li>
  						
  						
  						<li class="dropdown @("active".when(nav.startsWith("runs")))">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="runs">@Messages("runs.menu")<b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="runs">
								<li class="@("active".when(nav == "runs.search"))"><a href="@controllers.runs.tpl.routes.Runs.home("search")">@Messages("runs.menu.search")</a></li>																				
								<li class="@("active".when(nav == "runs.validation"))"><a href="@controllers.runs.tpl.routes.Runs.home("validation")">@Messages("runs.menu.validation")</a></li>																												
								<li class="@("active".when(nav == "runs.state"))"><a href="@controllers.runs.tpl.routes.Runs.home("state")">@Messages("runs.menu.state")</a></li>
							</ul>
  						</li>
  					</ul>	
  					
					<ul class="nav">
						<li class="@("active".when(nav == "archives.search"))"><a href="@controllers.archives.tpl.routes.ReadSets.home("search")">@Messages("menu.archives.search")</a>
						</li>						
					</ul>
					
					@**
					<div class="btn-group pull-right">
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
							<i class="icon-user"></i>@Messages("authentification.dropdown_list.username") <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">@Messages("authentification.dropdown_list.profile")</a></li>
							<li class="divider"></li>
							<li><a href="">@Messages("authentification.dropdown_list.signout")</a></li>
						</ul>
					</div>
					**@
					
				</div>
			</div>
		</div>

