@()

<legend ng-init="init()">@Messages("title.run") : {{run.code}}</legend>         		
<fieldset>
	           
<dl class="dl-horizontal">
	<dt>Cluster total</dt>
	<dd>{{run.properties.nbClusterTotal.value / 1000000000}}</dd>
</dl>
<dl class="dl-horizontal">
	<dt>Illumina filter cluster</dt>
	<dd>{{run.properties.nbClusterIlluminaFilter.value / 1000000000}}</dd>
</dl>
<dl class="dl-horizontal">
	<dt>Base (Gb)</dt>
	<dd>{{run.properties.nbBase.value / 1000000000}}</dd>
</dl>
<dl class="dl-horizontal">
	<dt>Lanes</dt>					
	<dd>
	<table id="lanesId" class="table table-bordered table-condensed">
        		<thead>
        		<tr>
        		<th>Lane Number</th><th>Read Set Number</th><th>Lost (%)</th>
        		</tr>
        		</thead>
				<tbody id="{{run.code}}" ng-repeat="lane in run.lanes | orderBy:'number'">        	  
        	   	<td>	
					{{lane.number}}
				</td>
				<td>	
					{{lane.readsets.length}}
				</td>
				<td>	
					{{computeLost(lane)}}
				</td>				
			  </tr>
        		</tbody>
        		</table>
</dd>
			</dl>
<dl class="dl-horizontal">
	<dt>Read Sets</dt>					
	<dd>
	<table id="lanesId" class="table table-bordered table-condensed">
        		<thead>
        		<tr>
        		<th>Lane Number</th><th>Read Set Code</th><th>Sample Container Code</th><th>Project Code</th><th>Internal And Illumina Filter Cluster</th><th>Internal And Illumina Filter Base (Gb)</th><th>Q30</th>
        		</tr>
        		</thead>
				<tbody id="{{run.code}}" ng-repeat="lane in run.lanes | orderBy:'number'">
        	   <tr ng-repeat="readset in lane.readsets">
        	   	<td>	
					{{lane.number}}
				</td>
				<td>	
					{{readset.code}}
				</td>
				<td>	
					{{readset.sampleContainerCode}}
				</td>
				<td>	
					{{readset.projectCode}}
				</td>
				<td>	
					{{readset.properties.nbClusterInternalAndIlluminaFilter.value / 1000000000}}
				</td>
				<td>
					{{readset.properties.nbBaseInternalAndIlluminaFilter.value / 1000000000}}
				</td>
				<td>
					{{readset.properties.q30.value}}
				</td>
			  </tr>
        		</tbody>
        		</table>
</dd>
			</dl>
     
</fieldset>
