@()


@column()(value: Html) = {
	<div class="col-md-3 col-lg-3">
		@value
	</div>
}


<div class="row">
	<div class="col-md-12 col-lg-12 ">
	<div class="page-header" ng-init="init()">
		<div class="btn-toolbar pull-right">
			 <button class="btn btn-default" ng-if="mainService.isEditMode()" ng-click="save()" data-toggle="tooltip" title="@Messages("button.validate")" ><i class="fa fa-save"></i> @Messages("button.validate")</button>
			 <button class="btn btn-default" ng-if="mainService.isEditMode()" ng-click="cancel()" data-toggle="tooltip" title="@Messages("button.cancel")" ><i class="fa fa-undo"></i> @Messages("button.cancel")</button>
			 <button class="btn btn-default" ng-if="!mainService.isEditMode()" ng-click="activeEditMode()" data-toggle="tooltip" title="@Messages("button.edit")" ><i class="fa fa-edit"></i> @Messages("button.edit")</button>		 					
		</div>
	
	 	<h1  ng-switch on="run.valuation.valid">
	
		 	<span ng-switch-when="FALSE" class="text-danger">{{run.code}}</span> 
		 	<span ng-switch-when="TRUE" class="text-success">{{run.code}}</span> 
		 	<span ng-switch-default>{{run.code}}</span> 
		
			<small>   
				<span ng-model="run.state.code" codes="state"/>
			</small>

		 </h1>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row margin-bottom-7">
<div class="col-md-12 col-lg-12">
	<form class="form-horizontal">
		<div class="row">
			@column(){
				@views.html.helper.columnLabelValue(Messages("runs.code")){
					<p class="form-control-static">{{run.code}}</p>
				}

				@views.html.helper.columnLabelValue(Messages("runs.state.code")){
				<div ng-switch on="run.state.code=='F'">
					<div ng-switch-when="true">
						<p class="form-control-static" ng-model='run.state.code' codes="state"></p>
					</div>
					<div ng-switch-when="false">
				        <workflow-chart ng-attr-modal-bg-color="white" ng-attr-modal-width="700" ng-attr-modal-height="700" ng-attr-modal-header-text='@Messages("runs.modal.header.text")' ng-attr-modal-body-text=""  
				        	ng-attr-modal-data="states" ng-attr-modal-historical-data="run.state.historical" ng-attr-modal-current-code="run.state.code">
				        </workflow-chart>
				    </div>
				</div>
				}
				  
				 
				  @views.html.helper.columnLabelValue(Messages("runs.valuation.valid")){
			     	<div ng-switch on="mainService.isEditMode()">
						<p ng-switch-when="false" class="form-control-static" ng-model='run.valuation.valid' codes="valuation"/>
						<div ng-switch-when="true">
							<div bt-select class="form-control" ng-model="run.valuation.valid" bt-options="valid.code as valid.name for valid in lists.getValuations()"></div>
						</div>
					</div>
				   }
				  
			    @views.html.helper.columnLabelValue(Messages("runs.valuation.resolutions")){
			    	<div bt-select class="form-control" ng-model="run.valuation.resolutionCodes" multiple="true" bt-options="valid.code as valid.name group by valid.category.name for valid in lists.getResolutions()" ng-edit="mainService.isEditMode()"></div>					
			   }
				
				@views.html.helper.columnLabelValue(Messages("runs.valuation.criteria")){
						<div ng-switch on="mainService.isEditMode()">
							<p class="form-control-static" ng-switch-when="false" ng-model="run.valuation.criteriaCode" codes="valuation_criteria"/>
							<div ng-switch-when="true">
								<div bt-select class="form-control" ng-model="run.valuation.criteriaCode" bt-options="valid.code as valid.name for valid in lists.getValuationCriterias()"></div>
							</div>
						</div>
				}
				
				@views.html.helper.columnLabelValue(Messages("runs.valuation.user")){
					<p class="form-control-static" >{{run.valuation.user}} ({{run.valuation.date | date:'@Messages("date.format")'}})</p>
				}
							
				
			}
			
			
		@column(){
			@views.html.helper.columnLabelValue(Messages("runs.type")){
				<p class="form-control-static">{{run.typeCode}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.nbClusterTotal")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].nbClusterTotal.value | number}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.percentClusterIlluminaFilter")){
				<p class="form-control-static" ng-class="highLight('treatments.ngsrg.default.percentClusterIlluminaFilter.value')">
					{{run.treatments.ngsrg["default"].percentClusterIlluminaFilter.value | number}}
				</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.nbClusterIlluminaFilter")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].nbClusterIlluminaFilter.value	| number}}}</p>
				
			@views.html.helper.columnLabelValue(Messages("runs.nbBase")){
				<p class="form-control-static" ng-class="highLight('treatments.ngsrg.default.nbBase.value')">
					{{run.treatments.ngsrg["default"].nbBase.value | number}}
				</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.keep")){
				<div class="checkbox" ng-if="mainService.isEditMode()">
 					<label>
						<input type="checkbox"  ng-model="run.keep" ng-disabled="run.deleted">	
					</label>
				</div>								
				<p class="form-control-static" ng-switch on="run.keep" ng-if="!mainService.isEditMode()">
					<i ng-switch-when="true" class="fa fa-check-square-o fa-lf"></i>
					<i ng-switch-default class="fa fa-square-o fa-lg"></i>
				</p>																				
			}
			
			@views.html.helper.columnLabelValue(Messages("runs.deleted")){
				<p class="form-control-static" ng-bind="run.deleted | codes:'boolean'"/>																				
			}
		}
		
		@column(){
			@views.html.helper.columnLabelValue(Messages("runs.nbCycle")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].nbCycle.value}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.controlLane")){
				<p class="form-control-static" ng-class="highLightCtrlLane()">{{run.treatments.ngsrg["default"].controlLane.value}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.containerSupportCode")){
				<p class="form-control-static">{{run.containerSupportCode}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.flowcellPosition")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].flowcellPosition.value}}</p>
			}
		}
		@column(){
			@views.html.helper.columnLabelValue(Messages("runs.rtaVersion")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].rtaVersion.value}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.flowcellVersion")){
				<p class="form-control-static">{{run.treatments.ngsrg["default"].flowcellVersion.value}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.intrumentCode")){
				<p class="form-control-static">{{run.instrumentUsed.code}}</p>
			}
			@views.html.helper.columnLabelValue(Messages("runs.intrumentTypeCode")){
				<p class="form-control-static">{{run.instrumentUsed.typeCode}}</p>
			}
		}
		</div>	
		
		
		
		<div class="row">
			<div ng-switch on="mainService.isEditMode()">
				<div class="col-md-9 col-lg-9" ng-switch-when="false">
					<div class="form-group">
						<label class="col-md-2 col-lg-2 control-label">@Messages("runs.valuation.comment")</label>
						<div class="col-md-10 col-lg-10">
			   				<p class="form-control-static" ng-bind-html="deliberatelyTrustHTMLComment()"></p>
		   				</div>
		   			</div>
	   			</div>
	   			<div class="col-md-9 col-lg-9" ng-switch-when="true">
	   				<div class="form-group">
						<label class="col-md-2 col-lg-2 control-label">@Messages("runs.valuation.comment")</label>
						<div class="col-md-10 col-lg-10">
							<textarea class="form-control" ng-model="run.valuation.comment" rows="3"></textarea>
						</div>
					</div>
				</div>
	  		</div>
  		</div>
  		
	</form>		
</div>
</div>

<div class="row">
	<div class="col-md-9 col-lg-9">
		@views.html.commons.treatments()
	</div>
	<div class="col-md-3 col-lg-3">
		<ul class="nav nav-tabs margin-bottom-7">
			   <li class="active"><a href="#">@Messages("runs.lane.valuation.title")</a></li>		   
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">		
	  			<div datatable="lanesDT"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
<div class="col-md-12 col-lg-12">
	<ul class="nav nav-tabs margin-bottom-5">
		<li class="active"><a>@Messages("runs.readsets.title") ({{readSetsDT.totalNumberRecords}})</a></li>		   
	</ul>
	<div class="tab-content">
		<div class="tab-pane active">	
		<form class="well well-small form-inline">		
			<div class="row">
				<div class="col-md-2 col-lg-2">
				<div class="form-group">
					<div bt-select class="form-control" ng-model="form.laneNumbers" multiple="true" placeholder="@Messages("search.placeholder.lanes")" bt-options="l.number as l.number for l in laneOptions"></div>
				</div>
				</div>
				<div class="col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-6">
				<div class="form-group pull-right">
				<div class="btn-group">
					<button type="submit" ng-click="search()"  	class="btn btn-info" title='@Messages("button.search")' data-toggle="tooltip"  ><i class="fa fa-search"></i></button>
					<button ng-click="showReadSets()" class="btn btn-default" >@Messages("button.readsets.show")</button>
					<button ng-click="valuateReadSets()" class="btn btn-default" ng-if="mainService.isEditMode()">@Messages("button.readsets.valuation")</button>
				</div>
				</div>
				</div>
			</div>						
				
																					 						
		</form>				
		<div datatable="readSetsDT"></div>
		</div>
	</div>
</div>
</div>

       
