@(isForm: Boolean)

<div ng-init="init()"> 
<div datatable="datatable">
	@if(isForm) {
		<div dt-form>
			<form class="well well-small form-inline" ng-controller="SearchFormCtrl" ng-init="init()" >
				<div class="row-fluid">
				<input type="text" ng-model="form.projectCodes" bs-typeahead="searchProjects" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.projects")'>
				<input type="text" ng-model="form.sampleCodes"  bs-typeahead="searchSamples" data-min-length="1" data-items="20" ng-focus="refreshSamples()" placeholder='@Messages("search.placeholder.samples")'>
				<input type="text" ng-model="form.fromDate" placeholder='@Messages("search.placeholder.fromDate")'>
				<input type="text" ng-model="form.toDate" placeholder='@Messages("search.placeholder.toDate")'>
				</div>
				<div class="row-fluid">
				
				<div bt-select ng-model="form.stateCodes" multiple="true" placeholder="@Messages("search.placeholder.states")" bt-options="state.code as state.name for state in lists.getStates()" ></div>							
				<div bt-select ng-model="form.typeCodes" multiple="true" placeholder="@Messages("search.placeholder.types")" bt-options="type.code as type.name for type in lists.getTypes()"></div>			
				<div bt-select  ng-model="form.validCode" placeholder="@Messages("search.placeholder.valid")" bt-options="valid.code as valid.name for valid in lists.getValuations()"></div>
				<input type="text" ng-model="form.codes" bs-typeahead="searchRuns" data-min-length="1" data-items="20" placeholder='@Messages("search.placeholder.runs")'>								
			
				<div class="btn-toolbar pull-right">
					<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" ><i class="icon-search icon-large"></i></button>
					<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn"><i class="icon-undo icon-large"></i></button>				 	
				</div>
								
				
				</div>
				
			</form>
	</div>
		
	}
</div>



</div>
