@(code: String)

@column()(value: Html) = {
	<div class="col-md-3 col-lg-3" ng-switch on="mainService.isEditMode()">
		@value
	</div>
}
	
@if(code == "minknow-metrichor") {
<div class="panel panel-default">
  <div class="panel-body">
<form class="form-horizontal" ng-controller="RunMinknowMetrichorCtrl">
		<div class="row">
			@column(){
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.minKnowVersion")){					
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.minKnowVersion.value"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.minKnowVersion.value" />					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichorVersion")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichorVersion.value"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichorVersion.value" />					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichorRunID")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichorRunID.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichorRunID.value" />
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.minknowChannelsWithReads")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.minknowChannelsWithReads.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.minknowChannelsWithReads.value"/>
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.minknowEvents")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.minknowEvents.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.minknowEvents.value" />					
				}
			}
			@column(){
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.minknowCompleteReads")){
			  		<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.minknowCompleteReads.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.minknowCompleteReads.value" />
					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichorReadCount")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichorReadCount.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichorReadCount.value" />
					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichor2DReadsYield")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichor2DReadsYield.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichor2DReadsYield.value"/>
					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichorMax2DRead")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichorMax2DRead.value | number"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichorMax2DRead.value" />
					
				}
				@views.html.helper.columnLabelValue(Messages("runs.treatments.minknow-metrichor.metrichorMax2DQualityScore")){
					<p ng-switch-when="false" class="form-control-static" ng-bind="run.treatments.minknowMetrichor.default.metrichorMax2DQualityScore.value | number:2"></p>
					<input  ng-switch-when="true" class="form-control" type="text" ng-model="run.treatments.minknowMetrichor.default.metrichorMax2DQualityScore.value" />
					
				}
			}
		
		</div>	
</form>	
</div>
</div>
}

@if(code == "ngsrg-nanopore") {

	<div class="row">
	<div class="col-md-4 col-lg-4">
		<table class="table table-condensed table-hover table-bordered">
			<thead>
				<tr>
					<th>@Messages("runs.ngsrg_nanopore.inactivePorePercentage")</th>
					<th>@Messages("runs.ngsrg_nanopore.activePorePercentage")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbReadsMin")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbReadsMax")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbReadsAvg")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbBasesMin")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbBasesMax")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreNbBasesAvg")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreActivityTimePercentMin")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreActivityTimePercentMax")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreActivityTimePercentAvg")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreSpeedDistribMin")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreSpeedDistribMax")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreSpeedDistribAvg")</th>
					<th>@Messages("runs.ngsrg_nanopore.poreQualityAvg")</th>
					<th>@Messages("runs.ngsrg_nanopore.nbBases1DForward")</th>
					<th>@Messages("runs.ngsrg_nanopore.nbBases1DReverse")</th>
					<th>@Messages("runs.ngsrg_nanopore.nbBases2DAll")</th>
					<th>@Messages("runs.ngsrg_nanopore.nbBases2DPass")</th>
					<th>@Messages("runs.ngsrg_nanopore.totalUsefulBases")</th>
					<th>@Messages("runs.ngsrg_nanopore.minknowVersion")</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{run.treatments.ngsrg.default.inactivePorePercentage.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.activePorePercentage.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbReadsMin.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbReadsMax.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbReadsAvg.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbBasesMin.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbBasesMax.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.poreNbBasesAvg.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreActivityTimePercentMin.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreActivityTimePercentMax.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreActivityTimePercentAvg.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreSpeedDistribMin.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreSpeedDistribMax.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreSpeedDistribAvg.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.poreQualityAvg.value | number:2}}</td>
					<td>{{run.treatments.ngsrg.default.nbBases1DForward.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.nbBases1DReverse.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.nbBases2DAll.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.nbBases2DPass.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.totalUsefulBases.value | number}}</td>
					<td>{{run.treatments.ngsrg.default.minknowVersion.value}}</td>
				</tr>		
			</tbody>
		</table>			
	</div>
	</div>

  	<!-- Add images -->
  	<div class="row">
  	<div class="col-md-5 col-lg-5">
	<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.ngsrg.default.poreOccupancy.value,'poreOccupancy','','ngsrg',
		run.treatments.ngsrg.default.poreOccupancy.width,
		run.treatments.ngsrg.default.poreOccupancy.height)">
		 <a href="#">
		    <img id="default_poreOccupancy" ng-src="data:image/png;base64,{{run.treatments.ngsrg.default.poreOccupancy.value}}" />
		 </a> 
	    </div>
	 </div>
	 <div class="col-md-5 col-lg-5">
	<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.ngsrg.default.poreOccupancyTime.value,'poreOccupancyTime','','ngsrg',
		run.treatments.ngsrg.default.poreOccupancyTime.width,
		run.treatments.ngsrg.default.poreOccupancyTime.height)">
		 <a href="#">
		    <img id="default_poreOccupancyTime" ng-src="data:image/png;base64,{{run.treatments.ngsrg.default.poreOccupancyTime.value}}" />
		 </a> 
	    </div>
	</div>
	</div>
	<div class="row">
	<div class="col-md-5 col-lg-5">
	<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.ngsrg.default.yieldBasePairs.value,'yieldBasePairs','','ngsrg',
		run.treatments.ngsrg.default.yieldBasePairs.width,
		run.treatments.ngsrg.default.yieldBasePairs.height)">
		 <a href="#">
		    <img id="default_yieldBasePairs" ng-src="data:image/png;base64,{{run.treatments.ngsrg.default.yieldBasePairs.value}}" />
		 </a> 
	    </div>
	</div>
	<div class="col-md-5 col-lg-5">
	<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.ngsrg.default.timeAvgQuality.value,'timeAvgQuality','','ngsrg',
		run.treatments.ngsrg.default.timeAvgQuality.width,
		run.treatments.ngsrg.default.timeAvgQuality.height)">
		 <a href="#">
		    <img id="default_timeAvgQuality" ng-src="data:image/png;base64,{{run.treatments.ngsrg.default.timeAvgQuality.value}}" />
		 </a> 
	    </div>
	   </div>
	</div>
	<div class="row">
	<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.ngsrg.default.poreMetrics.value,'poreMetrics','','ngsrg',
		run.treatments.ngsrg.default.poreMetrics.width,
		run.treatments.ngsrg.default.poreMetrics.height)">
		 <a href="#">
		    <img id="default_poreMetrics" ng-src="data:image/png;base64,{{run.treatments.ngsrg.default.poreMetrics.value}}" />
		 </a> 
	    </div>
	</div>
}



 








