@(field: Field, isEdit: Boolean)
@import helper._
@implicitField = @{ FieldConstructor(helper.tbformvertical.f) }

@defining(if(!isEdit) ('states->"disabled") else (Symbol("") -> "")){ disabled =>

@repeat(field("readsets"), min = 0) { readset => 
 
<tr>
<td>	
	@field("number").value
</td>
<td>	
	@readset("code").value
</td>
<td>	
	@readset("sampleContainerCode").value
</td>
<td>	
	@readset("projectCode").value
</td>
<td>	
	@readset("properties['nbClusterInternalAndIlluminaFilter'].value").value
</td>
<td>
	@readset("properties['nbBaseInternalAndIlluminaFilter'].value").value
</td>
<td>
	@readset("properties['nbRead'].value").value
</td>
</tr>
}
}
