@(lane: models.laboratory.run.instance.Lane)

@import views.utils.Format;
@for(readset <- lane.readsets) {
            		
<tr>
<td>	
	@lane.number
</td>
<td>	
	@readset.code
</td>
<td>	
	@readset.sampleContainerCode
</td>
<td>	
	@readset.projectCode
</td>
<td>	
	@Format.formatClusters(readset.properties.get("nbClusterInternalAndIlluminaFilter").value)
</td>
<td>
	@Format.formatClusters(readset.properties.get("nbBaseInternalAndIlluminaFilter").value)
</td>
<td>
	@readset.properties.get("nbRead").value
</td>
</tr>
}

