@(run : models.laboratory.run.instance.Run)

@import views.utils.Format;

<legend>Run : @run.code </legend>         		
<fieldset>
	           
                <dl class="dl-horizontal">
    			<dt>Cluster total</dt>
   				<dd>@Format.formatClusters(run.properties.get("nbClusterTotal").value)</dd>
   				</dl>
   				 <dl class="dl-horizontal">
    			<dt>Illumina filter cluster</dt>
   				<dd>@Format.formatClusters(run.properties.get("nbClusterIlluminaFilter").value)</dd>
   				</dl>
   				 <dl class="dl-horizontal">
    			<dt>Base</dt>
   				<dd>@Format.formatBases(run.properties.get("nbBase").value)</dd>
   				</dl>
	
         <dl class="dl-horizontal">
    			<dt>Read Sets</dt>					
				<dd>
					<table id="lanesId" class="table table-bordered table-condensed">
            		<thead>
            		<tr>
            		<th>Lane Number</th><th>Read Set Code</th><th>Sample Container Code</th><th>Project Code</th><th>Internal And Illumina Filter Cluster</th><th>Internal And Illumina Filter Base</th><th>Read</th>
            		</tr>
            		</thead>
					<tbody id="@run.code">
            	
            		@for(lane <- run.lanes) {
            			@addLane(lane)
            		}
            	
            		
            		</tbody>
            		</table>
				</dd>
   				</dl>
         
        </fieldset>

 