@(dataForm: Form[controllers.utils.DataTableForm], tableForm: Form[models.laboratory.run.instance.Run])

@import helper._
@implicitField = @{ FieldConstructor(helper.tbformvertical.f) }
	

@searchForm(handler: FieldConstructor, lang : Lang = implicitly[Lang]) = {
	
	@helper.form(action = controllers.run.routes.Runs.list(), args = 'class -> "well form-search") {		
		         				
	}
}

@scripts(handler: FieldConstructor, lang : Lang = implicitly[Lang]) = {
        
  <script type="text/javascript">
$(document).ready( function () {
    var myDatatable = $('#table_id').dataTable({
         "sDom":"Trt",
         "sPaginationType": "bootstrap",
    	 "bFilter": true,
    	 "bDeferRender": true,
    	 "bLengthChange": false,    	 
         "bProcessing": true,
         "bServerSide": true,
         "sAjaxSource": "@controllers.run.routes.Runs.list()",
         "sServerMethod": "GET",
         "aoColumnDefs": [
                  { "sTitle": "#ID", "mData": "_id","aTargets": [ 0 ] },
                  { "sTitle": "Code", "mData": "code","aTargets": [ 1 ]},
                  { "sTitle": "Flowcell Bar Code", "mData": "containerSupportCode","aTargets": [ 2 ]},
                  { "sTitle": "Creation Date", "mData": "traceInformation.creationDate","aTargets": [ 3 ],
                	  "mRender": function ( data, type, full ) {
                		  var d = new Date(data);
                	        return d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()+" "+d.toLocaleTimeString();
                	      }},
                  { "sTitle": "Dispatch", "mData": "dispatch","aTargets": [ 4 ]}
         ],
         "oTableTools": {	
        	"sRowSelect": "multi",
        	"sSelectedClass": "row_selected",
        	"aButtons": [
							{
								 "sExtends":    "btngroup",
								 "aButtons":    [
									{
									    "sExtends":    "text",
									    "sButtonText": "Show",
									    "sButtonClass" : "btn-primary",			                    
									    "fnClick": function ( nButton, oConfig, oFlash ) {
									    	var oTT = TableTools.fnGetInstance( 'table_id' );
									    	var aDatas = oTT.fnGetSelectedData();
									    	if(aDatas){
									        	for(var i = 0; i < aDatas.length; i++){	
									        	    var aData = aDatas[i];
									        	    var id = 'dyn_'+aData.code + '_id';
									        		if($('#'+id).length == 0){
									        			//see ngl.js to see the custom tab 
														var url = jsRoutes.controllers.run.Runs.show(aData.code).url;
									            	    $('#searchTab').append('<li><a id="'+id+'" href="#" data-toggle="pilldyn" data-target="#onelement" data-href="'+url+'">'+aData.code+'<button class="close" data-dismiss="pilldyn">&times;</button></a></li>');					                    		
									        		}
									        	}
									        	if(aDatas.length == 1){
									        		var id = 'dyn_'+aDatas[0].code + '_id';
									        		$('#'+id).click();
									        	}
									    	}			                    				                    			                    
									    }
									}
								]
							} ,
			               
			                {
			                	 "sExtends":    "btngroup",
			                	 "aButtons":    [ "cancel","select_all" ]
			                }		                			               
			            ]
		            	 
        }
    });

    $("#searchTab").click(function() {
    	myDatatable.fnClearTable(0);
    	myDatatable.fnDraw();
	});
    
    function getEdit(id, value){
    	var html = $($('#'+id).html()).clone();
    	if(value !== undefined){
	    	if(html.children("input, select").size() > 0){
	    		html.children("input, select").val(value);
	    	}else{
	    		html.val(value);
	    	}
    	}
    	return html;
    }
   
} );


</script>

}

@search("Search a run", "runs", scripts(implicitField))(searchForm(implicitField)){
	<form class="form-inline">
		<table id="table_id" class="table table-bordered table-condensed table-hover"></table>   
	</form> 
}

